<div class="container-fluid">
	<hr/>
	<h4>Manage Classes</h4>
	<div class="admin-top">
	    <select class="combobox">
	      <option>Select Class</option>
	      <option value="0">A Student's Journey: Semester 1</option>
	      <option value="1">A Student's Journey: Semester 2</option>
	    </select>
		
		<h5>Class Created:       <span>March 3rd 2015</span><h5>
		<h5>Class Last Viewed:   <span>March 3rd 2015</span><h5>
		<h5>Total Students:      <span>5</span><h5>
		<h5>Current Module:      <span>5</span><h5>
		
		<hr/>
		<h4>Edit Students</h4>
		<div class="row">
			<div class="col-md-6">
			      <table id="admin-students" class="table table-responsive table-bordered table-striped">
			        <tbody>
			          <tr>
			            <th>Name</th><th>Actions</th>
			          </tr>
			          <tr>
			            <td>Student 1</td>
			            <td><button>Add to Class</button><button>Remove from Class</button></td>
			          </tr>
			          <tr>
			            <td>Student 2</td>
			            <td><button>Add to Class</button><button>Remove from Class</button></td>
			          </tr>
			          <tr>
			            <td>Student 3</td>
			            <td><button>Add to Class</button><button>Remove from Class</button></td>
		    	      </tr>
		    	    </tbody>
		      	</table>
			</div>
			<div class="col-md-6">
			
			</div>

		</div>
	</div>

</div>