<div class="container-fluid">
	<h4>View Class Info</h4>
	<div class="admin-top">
	    <select id="classCombo" class="combobox">
	      <option>Select Class</option>
	      {{#each this.classes}}
  			<option value="{{this.index}}">{{this.name}}</option>
  			{{/each}}
	    </select>
	</div>

</div>