<div class="container-fluid">
  <h2>Edit Student</h2>
  
  <hr/>
  <nav id="admin-nav">
    	<a data-link="assignments" class="grade-link manage-assignments">Assignments</a>
    	<a data-link="journal" class="grade-link manage-journal">Journals</a>
      	<a data-link="quizes" class="grade-link manage-quizes">Quizes</a>
  </nav>

  <div class="grading"></div>
</div>