<div class="container-fluid">
 	<h4>Edit Schedule</h4>
 	<select id="classCombo" class="combobox">
      	<option>Select Class</option>
      	{{#each this.classes}}
  		<option value="{{this.index}}">{{this.name}}</option>
  		{{/each}}
	</select>
</div>