<div class="infoPanel">

<nav id="admin-nav">
  <h2>Welcome {{{first}}} {{{last}}}</h2>
</nav>

<div class="btn-group">
  <h2>Pick A Class:</h2>
  {{#each classes}}
    <button type="button" data-index="{{{this}}}" class="classButton btn btn-default">{{{this}}}</button>
  {{/each}}
</div>


</div>