<div id="header"></div>
<div class="container-fluid">
	<nav id="admin-nav">
		<a data-link="schedule" class="nav-link manage-guests">Edit Schedule</a>
		<a data-link="class" class="nav-link manage-instructors">View Class Info</a>
	    <!-- <a data-link="students" class="nav-link manage-students">Edit Students</a> -->
	    
	</nav>
	
	<div id="content">
	</div>
	
	<div id="grading">
	</div>
</div>