<div class="container-fluid">
  <div id="main-content" data-spy="scroll" data-target="#section_nav">
  	<nav id="content-cycle">
        <ul>
          <li><a href="" class="cycle-up"></a></li>
          <li><a href="" class="cycle-down"></a></li>
        </ul>
      </nav>
  </div>
</div>