<div class="container-fluid">
  <div id="main-content" data-spy="scroll" data-target="#section_nav">
  	
  </div>
  <nav id="content-cycle">
        <ul>
          <li><a href="" class="cycle cycle-up"><i class="fa fa-caret-square-o-up"></i></a></li>
          <li><a href="" class="cycle cycle-down"><i class="fa fa-caret-square-o-down"></i></a></li>
        </ul>
      </nav>
</div>