<div class="container-fluid">
	<nav id="sidetop">
		<h2>Week</h2>
		<h2><span id="week_number"></span></h2>
	  	<a href="#" class="arrow" data-direction="left"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
	  	<a href="#" class="arrow" data-direction="right"><span class="glyphicon glyphicon-circle-arrow-right"></span></a>
	</nav>

	<ul id="section_nav" class="hidden-phone">
	</ul>
</div>