<div class="container-fluid">
	<nav id="sidetop">
		<div class="arrows">
	  		<!-- <a href="#" class="arrow" data-direction="left"><i class="fa fa-caret-left"></i></a> -->

	  		<h2 id="label">Week</h2>
			<h2><span id="week_number"></span></h2>

	  		<!-- <a href="#" class="arrow" data-direction="right"><i class="fa fa-caret-right"></i></a> -->
	  	</div>
	</nav>

	<ul id="section_nav" class="hidden-phone">
	</ul>
</div>