<div class="topnav full">
    <ul class="horiz-nav" role="navigation" aria-label="week links">
      {{#each weeks}}
        <li class="week-link-listitem" data-weekId="{{{getWeekLabel}}}">
          <a class="week-link" data-week="{{{this}}}" href="#">{{{getWeekLabel}}}</a>
        </li>
      {{/each}}
    </ul>

    <a class="expand-horiz" aria-expanded="false"></a>
</div>