<div>
	<div class="assignment-record">
		<h2 class="assignment-title">The U.S. vs China</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem voluptatibus, dolorum, mollitia provident voluptate maiores voluptas autem natus, harum quam eius hic, consectetur cumque eligendi ut odit numquam facere saepe!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque veniam, nobis soluta. Voluptate ullam beatae sit sint dignissimos quia dolorem, sapiente nihil aliquam enim veniam, modi quisquam consequatur eum ipsum?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam illum placeat dolorum repudiandae provident. Quisquam nostrum, consequatur ad veritatis voluptatibus autem, magni tenetur et quo, consequuntur omnis. Porro, reprehenderit, eligendi.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione velit harum, quidem libero voluptas incidunt dolore nemo natus eos. Nam cum alias ipsa a nihil placeat delectus sit laboriosam nisi.</p>
	</div>
	<div class="feedback-container col-md-6" data-number="1">
	    <h3 class="feedback-title">Feedback from <span class="teacher-name">Teacher</span></h3>
	    <div class="assignment-record feedback active">
	        <p>Great Job.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam felis ipsum, vulputate at tristique vel, dictum id ligula. Proin ac ornare ipsum. Sed hendrerit varius elementum. Praesent eu nulla in tortor dignissim eleifend vitae sed tellus. Nullam luctus sem eros, eu sodales dolor commodo ac. Sed lorem lectus, mattis nec augue placerat, convallis placerat neque. In nulla massa, condimentum a condimentum eu, iaculis suscipit est. Etiam molestie urna eu augue feugiat hendrerit. Suspendisse potenti. Mauris consectetur felis nec nisi fringilla, non malesuada augue placerat. Quisque ac mi orci.</p>
	    </div>
	    <div class="assignment-record feedback">
	      <p>No feedbck for this item.</p>
	    </div>
	</div>
</div>