<div class="container-fluid">
  <section id="welcome-window" class="row-fluid section gone">
    <div class="inner-wrap">
      
      <div class="profile-welcome">
        <h1>Welcome to "A Student's Journey"!</h1> 
        <p class="intro">Every week, you'll be given a mixture of articles, multimedia, and interactive games which will help guide you through understanding college life in America.  Throughout, you will develop attributes and achieve badges which will factor into your total grade.  In addition, you'll be given grades on assignments, class participation, and your achievements.</p>
      </div>

      <div class="content col-md-4">
        <h3>Content-types</h3>
          <ul id="section_nav" class="hidden-phone">
            <li>
              <a class="weekItemLink assignment active" data-weekitem="0" data-type="overview" href="#weekItem0">
                <span class="item-icon icomoon icon-file activity"></span><span class="hoverover">assignment</span>
              </a>
            </li>
            <li>
              <a class="weekItemLink  article active" data-weekitem="1" data-type="article" href="#weekItem1">
                <span class="item-icon icomoon icon-book2 article"></span><span class="hoverover">article</span>
              </a>
            </li>
            <li>
              <a class="weekItemLink game active" href="#weekItem2">
                <span class="item-icon icomoon icon-gamepad game"></span><span class="hoverover">game</span>
              </a>
            </li>
            <li></li>
        </ul>
        <a class="welcome-link clear">view all content types</a>
      </div>

      <div class="attributes col-md-4">
        <h3>Attributes</h3>
        <ul>
          <li><span class="pie" data-value="4"><span class="attr-value">4</span></span><span class="pie-mask"></span>Self-Awareness</li>
          <li><span class="pie" data-value="1"><span class="attr-value">1</span></span><span class="pie-mask"></span>Adaptation</li>
          <li><span class="pie" data-value="3"><span class="attr-value">3</span></span><span class="pie-mask"></span>Attention to Detail</li>
          
        </ul>
        <a class="welcome-link clear">view all available attributes</a>
      </div>

      <div class="badges col-md-4">
        <h3>Badges</h3>
        <ul>
          <li class="code"></li>
          <li class="cool"></li>
          <li class="foxy"></li>
          <li class="hive"></li>
          <li class="thread"></li>
          <li class="fest"></li>
          <li class="network"></li>
          <li class="olympics"></li>
          <li class="thimble"></li>
        </ul>
        <p class="clear welcome-link"><a>view all available badges</a></p>
      </div>
      <div class="set-up-profile clear">
        <p>Next: <a>Set-up your Profile</a></p>
      </div>
      <div class="full-width center profile-link moreButton"><span class="clear glyphicon glyphicon-arrow-down"></span></div>
    </div>
  </section>

  <section id="profile-top" class="row-fluid section">
    <div class="inner-wrap">
      <h1 class="profile-welcome">Student Profile</h1>
        
      <div class="profile-categories student-progress col-md-4">
        <h3>Progress</h3>
        <div class="progress-wrap">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="21" aria-valuemin="0" aria-valuemax="100" style="width: 21%;">
              <span class="sr-only">21%</span>
            </div>
            <span class="glyphicon glyphicon-bell"></span>
          </div>
          <p class="current-week">You are currently in <label for="student-progress">Week 3</label> of 15</p>
          <a href="" class="moreButton">Proceed to Week 3<span class="glyphicon glyphicon-play"></span></a>
          
          <div class="last-lesson clear">
            <label for="last-lesson">Last Lesson Completed</label>
            <ul id="section_nav" class="hidden-phone">
            <li class="game clear">
              <a href=""><span class="icomoon icon-gamepad clear"></span><span class="hoverover">game: Let's go to school!</span></a>
            </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="profile-pic col-md-4">
        <h3>Warren Longmire</h3>
        <div class="avatar">
          <div class="avatar-container">
          </div>
          <a class="edit-avatar">Change Avatar</a>
          <img src="../images/avatar.png" class="avatar">
        </div>
          
        <div class="myers-briggs"><h4>Myers-Briggs:</h4><h4>INTJ</h4></div>
      </div>

      <div class="profile-categories attributes col-md-4">
        <h3>Attributes</h3>
          <div class="progress-wrap">
            <div class="attr-item">
              <h4 href="#" data-toggle="tooltip" class="attribute-item" title="process of learning something: the fact or process of finding out about something for the first time">Exploration</h4> 
                
              <div class="col-md-2">
                <span class="pie" data-value="4"><span class="attr-value">4</span></span>
                <div class="clear">
                  <strong class="fraction"><span data-value="4">4</span>/5</strong>
                </div>
              </div>

              <p class="description col-md-10">Made some real effort to learn about searching for colleges but could have been a bit more thorough.</p>
            </div>

            <div class="attr-item">
              <h4 href="#" data-toggle="tooltip" class="attribute-item" title="the ability to be precise and avoid errors">Accuracy</h4>
              <div class="col-md-2">
                <span class="pie" data-value="1"><span class="attr-value">1</span></span>
                <div class="clear">
                  <strong class="fraction"><span data-value="1">1</span>/5</strong>
                </div>
              </div>
              <p class="description col-md-10">Did not perform the task or performed it inadequately.</p>
            </div>
            
            <div class="attr-item">
              <h4 href="#" data-toggle="tooltip" class="attribute-item" title="careful thought, especially the process of reconsidering previous actions, events, or decisions">Reflection</h4>
                <div class="col-md-2">
                <span class="pie" data-value="3"><span class="attr-value">3</span></span>
                <div class="clear">
                  <strong class="fraction" ><span data-value="3">3</span>/5</strong>
                </div>
              </div>
              <p class="description col-md-10">Showed a reasonable careful reconsideration of previous actions, events or decisions.</p>
            </div>

            <div class="attr-item">
              <h4 href="#" data-toggle="tooltip" class="attribute-  item" title="the examination of something in detail in order to understand it better or draw conclusions from it">Analysis</h4>
                <div class="col-md-2">
                  <span class="pie" data-value="2"><span class="attr-value">2</span></span>
                  <div class="clear">
                    <strong class="fraction" ><span data-value="2">2</span>/5</strong>
                  </div>
                </div>
               <p class="description col-md-10">Examined the article or assignment in very little detail and drew a few conclusions from it.</p>
            </div>

              <div class="attr-item">
                <h4 href="#" data-toggle="tooltip" class="attribute-item" title="The ability to understand a concept and apply it to a real world example.">Application</h4>
                <div class="col-md-2">
                  <span class="pie" data-value="5"><span class="attr-value">5</span></span>
                  <div class="clear">
                    <strong class="fraction" ><span data-value="5">5</span>/5</strong>
                  </div>
                </div>
                <p class="description col-md-10">Completely understood the concept and effectively applied it to the real world example.</p>
              </div>

            <div class="attr-item">
              <h4 href="#" data-toggle="tooltip" class="attribute-item" title="general awareness or possession of information, facts, and ideas">Knowledge</h4>
              <div class="col-md-2">
                <span class="pie" data-value="4"><span class="attr-value">4</span></span>
                <div class="clear">
                  <strong class="fraction" ><span data-value="4">4</span>/5</strong>
                </div>
              </div>

              <p class="description col-md-10">Indicated knowledge about the “Best-Fit” College for the student.</p>
            </div>

            <div class="attr-item">
              <h4 href="#" data-toggle="tooltip" class="attribute-item" title="extremely attentive to accuracy and detail">Thoroughness</h4>
              <div class="col-md-2">
                <span class="pie" data-value="1"><span class="attr-value">1</span></span>
                <div class="clear">
                  <strong class="fraction" ><span data-value="1">1</span>/5</strong>
                </div>
              </div>

              <p class="description col-md-10">Not completed</p>
            </div>

            <div class="attr-item">
              <h4 href="#" data-toggle="tooltip" class="attribute-item" title="the capacity for understanding information fully.">Comprehension</h4>
                
              <div class="col-md-2">
                <span class="pie" data-value="3"><span class="attr-value">3</span></span>
                <div class="clear">
                  <strong class="fraction" ><span data-value="3">3</span>/5</strong>
                </div>
              </div>

              <p class="description col-md-10">Completely understood the concept and effectively applied it to the real world example.</p>
            </div>

            <div class="attr-item">
              <h4 href="#" data-toggle="tooltip" class="attribute-item" title="the ability to communicate effectively and appropriately with people of other cultures.">Intercultural Competence</h4>
              <div class="col-md-2">
                <span class="pie" data-value="3"><span class="attr-value">3</span></span>
                <div class="clear">
                  <strong class="fraction" ><span data-value="3">3</span>/5</strong>
                </div>
              </div>

              <p class="description col-md-10">Showed a fair grasp of the ability to communicate effectively and appropriately with people of other cultures</p>
            </div>

            <div class="attr-item">
              <h4 href="#" data-toggle="tooltip" class="attribute-item" title="the detailed mental examination of your own feelings, thoughts, and motives.">Introspection</h4>
              <div class="col-md-2">
                <span class="pie" data-value="3"><span class="attr-value">3</span></span>
                <div class="clear">
                  <strong class="fraction" ><span data-value="3">3</span>/5</strong>
                </div>
              </div>

              <p class="description col-md-10">Had a fairly good understanding of your own feelings, thoughts, and motives.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="progress section">
    <div class="inner-wrap">
      <h1>Progress</h1>
      <div class="profile-categories badges">
        <div class="content-week-nav">
          <a class="arrow-left-grade"><span class="icomoon icon-arrow-left"></span></a>
          <a class="arrow-right-grade"><span class="icomoon icon-arrow-right"></span></a>
        </div>
        <div class="week-progress">
          <h2>Week 1</h2>
          <div class="completed circle">
            <p class="big">9/10</p>
            <p>items complete</p>
          </div>
          <a href="" class="moreButton">go to week 1</a>
        </div>
        <div class="week-progress">
          <h2>Week 2</h2>
          <div class="completed circle active">
            <p class="big">2/10</p>
            <p>items complete</p>
          </div>
          <a href="" class="moreButton">go to week 2</a>
        </div>
        <div class="week-progress">
          <h2>Week 3</h2>
          <div class="completed circle">
            <p class="big">0/10</p>
            <p>items complete</p>
          </div>
          <a href="" class="moreButton">go to week 3</a>
        </div>

      </div>
    </div>
  </section>

  <section class="badge section">
    <div class="inner-wrap">
      <div class="profile-categories badges">
        <h1>Badges Earned:</h1>
        <ul>
          <li class="code"></li>
          <li class="cool"></li>
          <li class="foxy"></li>
          <li class="hive"></li>
          <li class="thread"></li>
          <li class="fest"></li>
          <li class="network"></li>
          <li class="olympics"></li>
          <li class="thimble"></li>
        </ul>
      </div>
    </div>
  </section>

  <section class="section assignment grades ">
    <div class="inner-wrap">
      <h1>Grades</h1>

      <div class="content-week-nav">
        <a class="arrow-left-grade"><span class="icomoon icon-arrow-left"></span></a>
        <a class="arrow-right-grade"><span class="icomoon icon-arrow-right"></span></a>
      </div>

      <div class="weekly-content">              
        <div class="wrap active">
          <div class="assignment-container active">
            <h2 class="active">Week 1</h2>
            <div class="grade-container" data-number="1">
              <h3 class="assignment-title">Assignment 1: U.S. vs. China</h3>
              <p class="assignment-description">Write a one page essay about the differences between U.S. and Chinese School Systems.</p>
              <p class="uploaded-assignment"><strong>Your submission: </strong><a href=""> US-vs-China.doc</a></p>
              <p class="grade-display"><span class="grade-label">grade:</span> <span class="student-grade">20/20</span></p>
              <a href="#" class="assignment_link" data-assignId="0" data-assignType="assignment">view assignment</a>
            </div>
            <div class="grade-container" data-number="2">
              <h3 class="Quiz-title">Quiz 1</h3>
              <p class="grade-display"><span class="grade-label">grade:</span> <span class="student-grade">20/20</span></p>
              <a href="#" data-assignId="0" data-assignType="quiz">review quiz</a>
            </div>
          </div>
        </div>
        <div class="wrap">
          <div class="assignment-container active">
            <h2 class="active">Week 2</h2>
            <div class="grade-container" data-number="1">
              <h3 class="assignment-title">Assignment 2: Looking at Colleges</h3>
              <p class="assignment-description">Write a one page essay about the differences between U.S. and Chinese School Systems.</p>
              <p class="uploaded-assignment"><strong>Your submission: </strong><a href=""> US-vs-China.doc</a>    </p>
              <p class="grade-display"><span class="grade-label">grade:</span> <span class="student-grade">20/20</span></p>
              <a href="#" class="assignment_link" data-assignId="1" data-assignType="assignment">view assignment</a>
            </div>
            <div class="grade-container" data-number="2">
              <h3 class="Quiz-title">Quiz 2</h3>
              <p class="grade-display"><span class="grade-label">grade:</span> <span class="student-grade">20/20</span></p>
              <a href="" class="quiz-link">review quiz</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section journal">
    <div class="inner-wrap">
      <h1>Journals</h1>
      <div class="journal-entry paper" data-entry-number="1">
        <time>01.23.2014</time>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum amet esse blanditiis illum debitis rem in libero laudantium, delectus alias autem deserunt possimus animi voluptate, exercitationem! Cumque in reiciendis illo!  sLorem ipsum dolor sit amet, consectetur adipisicing elit. Ex tenetur doloribus minima rem ab id dolorum neque expedita nostrum dignissimos fugiat fuga quia repellat perferendis dicta, dolores corporis laborum aspernatur.</p>
      </div>

      <div class="journal-entry paper" data-entry-number="2">
        <time>02.21.2014</time>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum amet esse blanditiis illum debitis rem in libero laudantium, delectus alias autem deserunt possimus animi voluptate, exercitationem! Cumque in reiciendis illo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa consequuntur officia officiis nam nihil numquam eos fugit ab vitae inventore? Illum consequuntur obcaecati explicabo tenetur laudantium, praesentium, et magnam aut.</p>
      </div>

      <div class="journal-entry paper" data-entry-number="3">
        <time>03.03.2014</time>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum amet esse blanditiis illum debitis rem in libero laudantium, delectus alias autem deserunt possimus animi voluptate, exercitationem! Cumque in reiciendis illo!  sLorem ipsum dolor sit amet, consectetur adipisicing elit. Ex tenetur doloribus minima rem ab id dolorum neque expedita nostrum dignissimos fugiat fuga quia repellat perferendis dicta, dolores corporis laborum aspernatur.</p>
      </div>
      <a href=""><span class="reload">Reload Journals</span></a>
    </div>
  </section>
</div>