  <div class="sidebar" aria-expanded="true">
    <div class="container-fluid">
      <nav id="sidetop">
        <h2>Dashboard</h2>
      </nav>

      <ul id="section_nav" class="hidden-phone" role="navigation">
        <li class="gone">
        <a class="profileItemLink overview" data-weekItem="0" data-type="welcome" href="#profileItem0" aria-label="profile Item 1: welcome">
          <span class="item-icon icomoon icon-eye3"></span><span class="hoverover">welcome</span>
        </a>
        </li>

        <li><a class="weekItemLink profile" data-weekItem="1" data-type="article" href="#weekItem1" aria-label="week item 2: article">
          <span class="item-icon icomoon icon-profile"></span><span class="hoverover">basic info</span></a>
        </li>
        
        <li><a class="weekItemLink progress" data-weekItem="1" data-type="progress" href="#weekItem2" aria-label="week item 2: article">
          <span class="item-icon icomoon icon-chart2"></span><span class="hoverover">progress</span></a>
        </li>

        <li>
          <a class="weekItemLink badge" data-weekItem="2" data-type="article" href="#weekItem3" aria-label="week item 3: article">
            <span class="item-icon icomoon icon-badge2"></span><span class="hoverover">badges</span>
          </a>
        </li>
        
        <li>
          <a class="weekItemLink grades" data-weekItem="3" data-type="links" href="#weekItem3" aria-label="week item 4: important links">
            <span class="item-icon icomoon icon-file"></span><span class="hoverover">grades</span>
          </a>
        </li>

        <li>
          <a class="weekItemLink journals" data-weekItem="4" data-type="game" href="#weekItem4" aria-label="week item 5: important links">
            <span class="item-icon icomoon icon-wallet"></span><span class="hoverover">journals</span>
          </a>
        </li>

       {{!--  <li>
          <a class="weekItemLink settings" data-weekItem="5" data-type="video" href="#weekItem5" aria-label="week item 6: video">
            <span class="item-icon icomoon icon-cog"></span><span class="hoverover">settings</span>
          </a>
        </li> --}}
      </ul>
    </div>
  </div>