<div class="sidebar" aria-expanded="true">
  <div class="container-fluid">
    <nav id="sidetop">
      <h2>Dashboard</h2>
    </nav>

    <ul id="section_nav" class="hidden-phone" role="navigation">
    </ul>
  </div>
</div>