<h1 class="title">Activity</h1>
<h1 class="subtitle">{{{content.heading}}}</h1>

<div class="inner-wrap attributeTarget">
	<div class="another-wrapper box">
		 <p class="instructions">{{{content.instuctionsHeader}}}</p>
		 
		 <ul>
		 	{{#each content.instructionList}}
		 		<li>{{{this}}}</li>
		 	{{/each}}
		 </ul>
	</div>
</div>