<h1>Activity</h1>

<div class="inner-wrap">
	<div class="another-wrapper box">
		 <h2 class="subHeading">{{{content.heading}}}</h2>
		 
		 <p class="instructions">{{{content.instuctionsHeader}}}</p>
		 
		 <ul>
		 	{{#each content.instructionList}}
		 		<li>{{{this}}}</li>
		 	{{/each}}
		 </ul>
	</div>
</div>