<div class="headingContainer">
	<h1 class="title">article</h1>
	<h2 class="subheading">{{{content.heading}}}</h2>
</div>

<div class="inner-wrap">
	{{#if content.instructions}}
	<h2 class="subheading">Instructions:</h2>
	<div class="textblock">
		{{{content.instructions}}}
	</div>
	{{/if}}
	
	{{#if content.instructionList}}
	<h2 class="subheading">Instructions:</h2>
	<ol class="objectives">
      {{#each content.instructionList}}
        <li>{{{this}}}</li>
      {{/each}}
    </ol>
    {{/if}}

	<a class="articlebtn btn btn-large btn-primary attributeTarget eventTarget" target="_blank" href="{{{content.link}}}">View Article</a
</div>