<div class="headingContainer">
	<h1 class="title">article</h1>
	<h1 class="subtitle">{{{content.title}}}</h1>
</div>

<div class="inner-wrap attributeTarget">

<div class="highlightblock textblock">
    {{{content.synopsis}}}
</div>

<div class="articleItem textblock" data-id="0">
<h4>OVERVIEW</h4>
<p>
The Multimedia College Preparation Program is entitled “A STUDENT’S JOURNEY: TO COLLEGE AND BEYOND” and is an interactive learning environment that combines course materials, interactive tools and narrative, instructional videos, comics, educational games, activities, journals, quizzes and facilitates discussions through asynchronous and synchronous instructional support.
 </p>


<p>
A STUDENT’S JOURNEY will act as an interactive guide to facilitate an existing college admissions counseling program, or can stand-alone if you do not have access to a college admissions counselor.  You will fully engage with the learning environment three hours a week for 15 weeks each semester for a total of 90 academic hours.</p>

<p>
<em>Semester One:</em> The first semester of A STUDENT’S JOURNEY (mid-October through mid-January) will focus on helping you understand the US educational system, learning about yourself, and finding the college or university that is the best fit for you.  You will interactively navigate through the U.S. college admissions process and learn how to successfully utilize sources at your disposal such as The College Board and CFNS (College Foundation of North Carolina).
</p>
 
<p>
<em>Semester Two:</em> Many international students only worry about getting into a good college and spend little time preparing for the transition to and success in college once they arrive. Unfortunately, this can result in a student dropping out due to a difficult transition into the U.S. culture and lack of preparation for the first year of college. Therefore, the second semester of A STUDENT’S JOURNEY (mid-February through mid-May) will provide strategies for you to succeed in your first year of college and provide valuable insight regarding your successful cultural integration into the U.S.
</p>

<h4>WEEKLY LEARNING OBJECTIVES:</h4>
<p>
Each week you will be given a series of learning objectives which will be accomplished through a variety of activities.  
</p>

<h4>ASSESSMENT:</h4>
<p>A STUDENT’S JOURNEY is designed to help you gain knowledge and comprehension as well as increase your competency in various attributes which we believe you will need to have in order to succeed in the applying to and attending a U.S. college.  These attributes include Intercultural Competence, Exploration, Reflection, Introspection, Thoroughness, Accuracy, Application, and Analysis.  Using a variety of assessment techniques such as quizzes, journals, discussion forums, and your successful completion of tasks, we will determine the level to which you are increasing these important characteristics or “attributes” and completing tasks.  A STUDENT’S JOURNEY will help you check your progress along the way as you improve in these areas and you will also have the opportunity to earn “badges” along the way upon completing tasks.  Students who successfully complete the program will receive a CERTIFICATE OF COMPLETION.</p>
 
<h4>SEMESTER ONE: SUCCESSFULLY APPLYING TO COLLEGE</h4>
<ul>
<li>Week One: 		<em>WHO and WHAT You Are</em></li>
<li>Week Two: 		<em>U.S. vs Chinese Educational Systems and the “BEST FIT” Concept</em></li>
<li>Week Three: 	<em>REALITY of College Admissions in the US</em></li>
<li>Week Four: 		<em>Getting to Know the United States and Different U.S. Colleges and Universities</em></li>
<li>Week Five: 		<em>The College Search: Looking for the Right School for You, Including Great Schools You’ve Never Heard Of</em></li>
<li>Week Six: 		<em>Learning about the Colleges on Your List</em></li>
<li>Week Seven: 	<em>The College Admissions Process</em></li>
<li>Week Eight: 	<em>Using Your High School Years Wisely: How to Build Your Personal Resume</em></li>
<li>Week Nine: 		<em>The College Essay</em></li>
<li>Week Ten: 		<em>The Recommendation Letter</em></li>
<li>Week Eleven: 	<em>The College Interview: How to Prepare and Practice</em></li>
<li>Week Twelve: 	<em>The Role of Standardized Testing in the College Admissions Process</em></li>
<li>Week Thirteen: 	<em>The College Admissions Committee</em></li>
<li>Week Fourteen: 	<em>Visiting College Campuses: How, When and Why to Plan Your School Tour</em></li>
<li>Week Fifteen:	<em>Common Myths and Wrap Up</em></li>
</ul>

<h4>SEMESTER TWO: YOU ARE ON YOUR WAY TO COLLEGE: WHAT NOW? STRATEGIES FOR COLLEGE SUCCESS</h4>
<ul>
<li>Week One:		<em>Adjusting to College in the U.S.</em></li>
<li>Week Two: 		<em>Managing Stress, Finances, and Handling Social Situations</em></li>
<li>Week Three: 	<em>Behaviors for Success</em></li>
<li>Week Four: 		<em>Common First Year Pitfalls</em></li>
<li>Week Five: 		<em>Plagiarism and How to Avoid It</em></li>
<li>Week Six: 		<em>Academic Writing</em></li>
<li>Week Seven: 	<em>Active Reading Strategies</em></li>
<li>Week Eight: 	<em>Getting the Most out of Class</em></li>
<li>Week Nine: 		<em>Your Learning Style and How to Communicate with Professors</em></li>
<li>Week Ten: 		<em>THE COLLEGE COMMUNITY: What is Your New College Like?</em></li>
<li>Week Eleven: 	<em>THE COLLEGE COMMUNITY: What Campus Resources are Available to You?</em></li>
<li>Week Twelve: 	<em>Cultural Awareness: Holidays in the U.S.</em></li>
<li>Week Thirteen: 	<em>The Importance of College Sports in America</em></li>
<li>Week Fourteen: 	<em>Travel in the U.S. During Your College Holidays</em></li>
<li>Week Fifteen: 	 <em>Review and Wrap Up</em></li>
</ul>

<h4>ATTRIBUTES:</h4>
<ul>
<li>Exploration: The process of learning something: The fact or process of finding out about something for the first time.</li>
<li>Accuracy: The ability to be precise and avoid errors.</li>
<li>Thoroughness: Be extremely attentive to accuracy and detail. Have they completed the assignment given to them?.</li>
<li>Comprehension: The capacity for understanding information fully.</li>
<li>Knowledge: General awareness or possession of information, facts, ideas.</li>
<li>Reflection: Careful thought, especially the process of reconsidering previous actions, events, or decisions.</li>
<li>Analysis: The examination of something in detail in order to understand it better or draw conclusions from it.</li>
<li>Introspection: The detailed mental examination of your own feelings, thoughts, and motives.</li>
<li>Intercultural competence: Is the ability to communicate effectively and appropriately with people of other cultures.</li>
<li>Application: The ability to understand a concept and apply it to a real world example.</li>
</ul>
</div>

<div class="articleItem textblock" data-id="1">
<h4>Picking the Right School</h4>
 
<p>What is the point of going to a very expensive Ivy League school to get your undergraduate degree when you know that you are going to get your master's degree when you're done? I would like to go to Dartmouth, but I have a full scholarship to the University of Florida, so maybe I should go there and go to Dartmouth for my MBA. What is your opinion?
Ivy League schools offer students great education and prestige. Many students find these schools attractive because they are selective, and because a degree from such a school is impressive on a job application. Yet there are great schools all over the country that offer a wonderful education and are easier to get into. And, as you know, public schools such as the University of Florida are more affordable. 
The best way to decide what school is best for you is to consider all the angles. Ask yourself: "What schools offer strong programs in my major? How important is cost and will this scholarship make life easier for me in the future? Do I want to be close to home or further away on my own? What kind of college life is there?"</p>

<p>Do you prefer a large or small school? Would you be more comfortable in a traditional campus not close to a major city, or do you prefer to be in a large city? Are you looking for a certain student mix in terms of gender, religion, race, etc.? All of these questions play a major role in the college decision. You are right—if you choose to attend the University of Florida, you can always pursue a master's degree at Dartmouth or at another big-name school. But try not to think too far ahead. Base your decision on what each school can do for you right now as you pursue your bachelor’s degree.</p>

<p>I'm interested in a lot of different colleges and don't know which one I want to choose. Please help.</p>

<p>The best way to narrow down which colleges are best for you is to first ask yourself several general questions about college:</p>

<ul>
	<li>-What am I interested in pursuing as a major?</li>
	<li>-What schools offer strong programs in my major?</li>
	<li>-How important is cost, and will scholarships be available at this school?</li>
	<li>-Do I want to live at home or on campus?</li>
	<li>-Do I want to be close to home or further away on my own?</li>
	<li>-Will I be more comfortable at a large university or a small private college?</li>
	<li>-Are my grades and test scores sufficient for acceptance?</li>
</ul>

<p>Once you’ve answered each of these questions, make a list of the colleges you are considering and decide which ones best fit the criteria set by your answers.</p>

<p>The next step is to get specific information from each school left on the list. You may contact the schools directly or visit their websites to request catalogs, viewbooks, brochures, and anything else you think might aid the decision-making process.</p>

<p>Finally, once you’ve narrowed the list down again, schedule campus visits to the schools you are still interested in. You can schedule a tour, see a dorm room, and perhaps even sit on a class. Many students base their final decision on a really good a campus visit. Then, once you’ve chosen the perfect school, begin the admissions process.
Follow this process and you should have no trouble (or at least less trouble!) choosing the right school for you.</p>

<p>I am a junior. I eventually want to attend Harvard Medical School, and a friend of the family (a physician) said I should definitely try to get into Harvard for undergraduate work because those students have a better chance of being accepted into the med school. Is that true (not only for Harvard but for most med schools)? My high school counselor says if my grades, activities and MCAT scores are great in college, it won't matter where I get my undergrad degree.</p>

<p>To a certain degree, both your counselor and your family friend are correct. Schools like Harvard do always select a few of their own schools for their graduate programs, but to be one of the students their medical school takes, you’ll need to be one of the top students in your college class.</p>

<p>Your counselor is correct, because if you work hard and excel at any school, medical schools will want you in their incoming class. So, if you want to be a doctor, don’t worry too much about whether you get into Harvard for undergraduate work. There are many fine schools...and in determining the right place for you, you should take into account not only academic reputation, but also factors such as financial aid availability, size, location, student body mix, social life and clubs and activities. Ultimately, the school where you are the happiest is the one that will give you the most satisfying college experience...and will also be the one where you’re most likely to excel well enough to get into medical school.</p>

<p>Ultimately, both are correct, because both are saying that medical schools like Harvard want the best students. However, don’t get too hung up on going just to Harvard Medical School, as there are many other excellent medical schools and you’ll become a doctor if you go through any of them. So apply to a wide range to colleges, Harvard included, and work really hard in college. Then, whether you go to Harvard or somewhere else, you should be in a good position to get into a great medical school. Good luck!</p>

<p>My son is awaiting  decisions on colleges he has applied to. In addition, he has wanted to go on to medical school for years now. So far he has heard early from two schools: University of Connecticut, where he has received a very nice scholarship, and Brandeis, but with no scholarship. Assuming we may see a mix of acceptances, with and without scholarship, from other private and public schools of different rankings, is it worth the higher cost for the higher-ranked schools vs. accepting (happily on our part) the scholarship at the other schools? It has been my contention that one is better off doing well in whatever school you attend, including on the MCAT, and that the pressure may be less in some of the "less competitive" schools (the big fish, small pond theory), especially when we are talking about all respectable schools. Do you agree, or am I letting the dollars sway my thinking? Thanks very much for your thoughts!</p>

<p>First, congratulations on your son’s acceptances. You should be very proud.</p>

<p>Personal finances and your ability and willingness to pay more for a school are subjective and something I can’t fairly comment on. That said, while it probably isn’t worth going to the higher ranked school just to get your son into medical school (since that decision won’t be based necessarily on tougher competition), you should consider factors other than rankings when helping your son choose a school: among these: the school’s strength in your son’s intended major, the strength of the school’s premed program (if they have one, and if not, the quality of their science offerings), financial aid/scholarships (I know your son has gotten a scholarship from UConn, but he may get similar offers from other schools as well), student life (such as clubs, activities, athletics, etc.), the student mix (such as male/female ratio, religious and political leanings and socioeconomics of the student body), location, and size.</p>

<p>Your son may also want to consider the breadth and quality of other majors offered at the school just in case he decides not to go to medical school or if he decides to major in something considered “nontraditional” for premed students.</p>

<p>So what you need to figure out is what, if anything, you’re willing and able to pay for your son’s education and finding a school within these financial means where your son is going to be happy. After all, if he’s happy, he’s more likely to do well in school. Good luck!</p>

<p>I have recently been admitted to Mississippi State University and to the University of Tennessee at Chattanooga. Right now I would like to study meteorology. Mississippi State has a great meteorology program, and it's the closest meteorology school to my home. I have been on campus, and I really love the atmosphere there. However, all of my best friends that I've known my entire life are going to Chattanooga. I can't imagine life without them, and I know we would have an amazing college experience together. I figure if I go to UT-Chatt, then I could study something in the medical field, since I am also interested in this. Both scholarship amounts I would receive from each school are about the same. </p>

<p>So I really don't know which to choose. Can you help me?</p>

<p>Thanks for this question. I have been thinking about it for a little while, and I have decided that instead of giving you an answer, I'm going to ask you two questions in return.</p>

<ul>
	<li>
	<p>1) If you decide to go to Chattanooga with your friends, it's possible that your group will start to drift apart a little (after all, the college atmosphere is different, and young adults tend to change the most in college). Will you still feel as though you will have a good college experience there, or will you feel resentful for going there and wish you had gone to Mississippi State? </p>
	</li>
	<li>
	<p>2) How much do you care about studying meteorology? Do you believe it is something you are completely passionate about, or do you feel about the same about it as you might a different program of study?</p>
	</li>
</ul>


<p>I encourage you to think about these questions, think about what your expectations are at present for college, think about what you value most, and talk to your friends and adult mentors about this dilemma. I wish you wisdom in your decision-making.</p>

<p>My son is a senior far away from his family at boarding school. Working in an architectural office this summer made him interested in architecture and industrial design. The problem is that all his art classes from middle school on had to do with music, and he has no works for his portfolio. He signed up for a drawing class now and his art teacher seems excited by his work. Will he be effected with a sort of "thin" portfolio? Secondly, he and his adviser put some schools on his list like Virginia Tech in Blacksburg. We decided that because of his limited preparation in arts, but also as a practical advantage in the job world, he should go for schools with a technical approach and not completely arty. Would Virginia Tech be recommended? What sites are available that give you insights to colleges (other than the facts on schools own websites)? Thank you very much for your help.</p>

<p>If you want more recommendations, I'd suggest you seek information from objective resources like architectural firms themselves. If you know of architects, ask them from which schools their firms frequently pull graduates. Also check outArchitect Magazine online. It offers a wide variety of resources to aspiring architects, including its ranking of best architecture schools.</p>

<p>Also check with your son to see what aspects of architecture he is specifically loving. Is it the artistic aspect of creating something original in 3-dimensional form? Or is he more drawn to the technical and mathematical aspects of architecture? It doesn't hurt to keep the options open; an art school isn't out of the question quite yet just because of his "limited preparation" as you mentioned.</p>

<p>In addition, find out what specific kind of architecture your son likes. There are so many branches of architecture (for example, you mentioned Virginia Tech--it's actually ranked number 1 currently in landscape architecture). Does your son like modern architecture? restoration architecture of old buildings? garden and outdoor parks architecture? Do a little research. Google is going to be your best friend on this journey.</p>

<p>Also, I wouldn't worry about your son's "thin" portfolio just yet. But make sure to gather what you've got. Be absolutely sure to mention his work in an architectural office when he starts applying to schools.</p>

<p>And I would bet he still has time to put together some quality pieces, artistic or otherwise. He should talk to the industrial tech and art teachers at his schools to see whether he could work on some specialized architectural design pieces on an independent basis. Or he could ask the firm he worked at to help in more depth with some of their projects on an apprentice sort of basis. Chances are, if he really does want to do this, he'll love putting together that kind of work for his portfolio anyway.</p>

<p>Citation: <a href="http://mycollegeguide.org/guru/19/picking-the-right-school">mycollegeguide.org</a></p>

</div>

<div class="articleItem textblock" data-id="2">

<p>Enrollment at American colleges is sliding, but competition for spots at top universities is more cutthroat and anxiety-inducing than ever. In the just-completed admissions season, Stanford University accepted only 5 percent of applicants, a new low among the most prestigious schools, with the odds nearly as bad at its elite rivals.</p>

<p>Deluged by more applications than ever, the most selective colleges are, inevitably, rejecting a vast majority, including legions of students they once would have accepted. Admissions directors at these institutions say that most of the students they turn down are such strong candidates that many are indistinguishable from those who get in.</p>

<p>Isaac Madrid applied to 11 colleges, a scattershot approach that he said is fairly typical at his private high school, Bellarmine College Preparatory in San Jose, Calif. Students there are all too aware of the long odds against getting into any particular elite university. “It was a crazy amount of work and stress doing all those essays by the deadline and keeping up my schoolwork, and waiting on the responses, and we had more than $800 in application fees,” he said.</p>

<p>Isaac Madrid, who attends a private high school in San Jose, Calif., applied to 11 colleges and was accepted at Yale. Credit Thor Swift for The New York Times Mr. Madrid, 18, got a taste of how random the results can seem. He was among the 95 percent turned away by Stanford, but he got into Yale, which he plans to attend, and he admitted having no real insight into the reasons for either decision.</p>

<p>Bruce Poch, a former admissions dean at Pomona College in Claremont, Calif., said he saw “the opposite of a virtuous cycle at work” in admissions. “Kids see that the admit rates are brutal and dropping, and it looks more like a crapshoot,” he said. “So they send more apps, which forces the colleges to lower their admit rates, which spurs the kids next year to send even more apps.”</p>

<p>For most of the past six decades, overall enrollment boomed, while the number of seats at elite colleges and universities grew much more slowly, making them steadily more selective. Enrollment peaked in 2011, and it has dropped a bit each year since then, prompting speculation that entry to competitive colleges would become marginally easier. Instead, counselors and admissions officers say, the pool of high-achieving applicants continues to grow, fed partly by a rising number from overseas.</p>

<p>At the same time, students send more applications than they once did, abetted by the electronic forms that have become nearly universal and uniform applications that can make adding one more college to the list just a matter of a click. Seven years ago, 315 colleges and universities accepted the most widely used form, the Common Application; this year, 517 did.</p>

<p>Students applying to seven or more colleges made up just 9 percent of the applicant pool in 1990, but accounted for 29 percent in 2011, according to surveys by the National Association for College Admission Counseling, and counselors and admissions officers say they think the figure has gone higher still. While people have lavished attention on a Long Island teenager who was accepted by all eight Ivy League colleges, admissions professionals say it is remarkable that anyone would apply to all eight.</p>

<p>Stanford received 42,167 applications for the class of 2018 and sent 2,138 acceptance notices, for a first-year class that, ultimately, will number about 1,700.</p>

<p>The University of California, Los Angeles, the national leader in applications, had more than 86,000 requests — twice as many as in 2005 — for space in a first-year class of about 6,000, and it also received 19,000 applications to transfer from other colleges and universities. This year, for the first time, the admission rate for first-year applicants at U.C.L.A. and the University of California, Berkeley, could drop below 20 percent.</p>

<p>Students at Yale University last spring. A generation ago, it was rare for even highly competitive colleges to offer places to fewer than 20 percent of their applicants. Credit Christopher Capozziello for The New York Times “For most kids, this really used to be a regional process, but they have access to so much information online now, so every school seems local,” said Richard H. Shaw, the dean of undergraduate admission at Stanford. Admissions directors at several top Eastern colleges agreed, saying that they now received more applications from California than any other state, which would have been unthinkable a few years ago.</p>

<p>Some of them also pointed to colleges’ increasingly aggressive outreach to prospective students, with mailings, emails and advertising — some of it well intentioned, and some of it more cynical.</p>

<p>“One of the ways that colleges are measured is by the number of applicants and their admit rate, and some colleges do things simply to increase their applicant pool and manipulate those numbers,” said Christoph Guttentag, the dean of undergraduate admission at Duke.</p>

<p>A generation ago, it was rare for even highly competitive colleges to offer places to fewer than 20 percent of their applicants. In 2003, Harvard and Princeton drew exclamations of dismay (from prospective applicants), envy (from other colleges) and satisfaction (from those they accepted) when they became the first top universities to have their admission rates dip below 10 percent. Since then, at least a dozen have gone below that threshold.
This was the second year in a row that Stanford had the worst odds of admission among top colleges, a title that in previous years was usually claimed by Harvard. This year, by the April 1 deadline for most colleges to send admission notices, Harvard and Yale had accepted about 6 percent of applicants, Columbia and Princeton about 7 percent, and the Massachusetts Institute of Technology and the University of Chicago about 8 percent. (Some rates will increase by a few tenths of a percentage point as colleges accept small numbers of applicants from waiting lists.)</p>

<p>Several universities, including Stanford, Duke, Northwestern, Cornell and the University of Pennsylvania, had admission rates this year that were less than half of those from a decade ago. The University of Chicago’s rate plummeted to a little over 8 percent, from more than 40 percent.</p>

<p>The most competitive small colleges draw comparably accomplished applicants, but far fewer of them relative to their size, so their admission rates are higher. Even so, the acceptance rates at Pomona, Amherst, Harvey Mudd, Bowdoin, Claremont McKenna, Swarthmore, Middlebury, Williams and others were between 10 and 20 percent this year.</p>

<p>Mr. Shaw, the Stanford dean, said he could not predict where the rates would bottom out — in fact, he never expected them to go as low as they have.</p>

<p>“Honestly,” he said, “I’m sort of in shock.”</p>

<p>A version of this article appears in print on April 9, 2014, on page A1 of the New York edition with the headline: Best, Brightest and Rejected: Elite Colleges Turn Away Up to 95%.</p>

<p>Citation: <a href="http://www.nytimes.com/2014/04/09/us/led-by-stanfords-5-top-colleges-acceptance-rates-hit-new-lows.html?_r=0">The New York Times</a></p>

</div>

<div class="articleItem textblock" data-id="3">
<p>Ashley Koski, Durham, NC, ranked third in the senior class at Thomas Dale High School in Chester, Va., has wanted to attend Duke University since she was 12.Prospective applicants visited Duke, which has a waiting list of more than 3,000 this year.</p>

<p>Late last month, she learned that Duke had neither accepted nor rejected her. It had offered her a spot on the waiting list — along with 3,382 other applicants. That is almost twice the size of the incoming freshman class.</p>

<p>“I kind of just went quiet the rest of the day,” Ms. Koski said. “I’d rather have a yes or no. I can’t make plans and be excited like the rest of my friends.”</p>

<p>Duke, which had a record 27,000 freshman applicants, has placed 856 more on its waiting list than a year ago. The reasons include the uncertain economy, which makes it hard for Duke to estimate how many of the 4,000 it has accepted will say yes.</p>

<p>If Duke’s best guess holds, no more than 60 will be admitted through the narrow gate of what is essentially a giant holding pen.</p>

<p>Other schools are also hedging their bets this spring. Most Ivy League colleges had sharp jumps in applications, as did similarly selective colleges like the University of Chicago, Northwestern, Stanford and the Massachusetts Institute of Technology. Many students hedged bets of their own, and submitted more applications — in some instances 15 or more.</p>

<p>The admission process is a complicated dance of supply and demand for colleges. And this spring, many institutions have accepted fewer applicants, and placed more on waiting lists, until it becomes clear over the next few weeks how many spots remain.</p>

<p>M.I.T., which had a 6 percent increase in applicants, increased its waiting list by more than half, to 722. Last year, it accepted fewer than 80 from that list. Yale, which had a slight dip in applications this year yet still admitted fewer than 8 percent of applicants, placed nearly 1,000 others on its waiting list, an increase of more than 150. Dartmouth increased its list by about 80, to 1,740.</p>

<p>No selective college, though — at least none that makes its figures public — has placed as many applicants in a holding pattern this spring as Duke, which has seen applications surge by 30 percent over the last two years. And those applications were filed long before its men’s basketball team won this year’s national collegiate championship, a victory that could prompt more students to say yes to Duke’s offer of admission, and thus leave fewer slots for those in waiting.</p>

<p>In an interview on a recent morning on Duke’s Gothic-style campus, which was mostly built in the 1930’s but looks centuries older, Christoph Guttentag, the dean of undergraduate admissions, likened his task to that of a sculptor finishing a work of art — and the waiting list to his last palette of materials.</p>

<p>“I have no idea what I’m going to need to finish sculpting the class,” he said, his voice echoing off walls of native knotty pine. “From an institutional perspective, it’s important that I have some flexibility.” 
Like its competitors, Duke does not rank students on its waiting list. Instead, decisions about who will rise to the top are often a function of what the admissions office perceives as deficiencies in the next freshman class. There might be, for example, a surplus of aspiring engineers and not enough potential English majors, or too few students from Florida. Or there might be an unexpected shortage of oboe players. 
While Mr. Guttentag encourages students on the waiting list to send him a one-page letter — or a video of 60 seconds or less — letting him know how strongly they wish to attend, and why, they can do little to improve their chances.</p>

<p>“The student can’t know, ‘Gee, did all the violinists decide to turn us down?’ ” he said. “They can’t affect this very much at this point.”</p>

<p>Since waiting list offers went out in late March, Mr. Guttentag and his colleagues have been deliberating whether to end the suspense for at least several hundred who are on it — those who probably have little hope of coming off.</p>

<p>Another reason the list is so long this year, he said, is that he and his colleagues were so overwhelmed by the volume of applicants that they ran out of time.</p>

<p>Citation: <a href="http://www.nytimes.com/2010/04/14/education/14waitlist.html?pagewanted=all&_r=0">Travis Dove for The New York Times</a></p>
</div>

<div class="articleItem textblock" data-id="4">
<p>Of all college statistics, the admission rate might be the most misleading. Which is saying something because there are other strong candidates for that title. Graduation rates, for instance.
The admission rate looks straightforward enough: Admission offers divided by applications. But what is an offer, and what is an application?</p>

<p>At the end of the recruiting cycle, a waiting list might be wholly converted to admission offers. Those don’t get included in the calculations in the initial flurry of news releases as colleges issue decisions.</p>

<p>Various colleges define applications in various ways. Some are quite strict about only counting apps that have all required elements in a file — essays, test scores, transcripts, letters of recommendation, etc. Others essentially count anyone who starts the process and pays a fee.
Volume of applications can rise or fall based on whether a college asks for a supplemental essay, whether it just joined the Common Application or some other collective online portal, or whether the Common App itself changes its format.</p>

<p>It also matters a great deal how many applicants are accepted through binding early decision programs that require students to enroll if given an offer. A college might load up on ED admits and then deny admission to a huge number of regular-cycle applicants.</p>

<p>Bottom line: Admission rates are volatile from year to year, and comparing rates from one college to another is a precarious business.
Still, these rates are closely watched and impossible to ignore. Every student wants to know: What are my chances? Admission rates don’t really convey what the chances are for an individual applicant, but they usually reflect something about a college’s position in the hotly competitive market. So here is a sampling of rates for colleges and universities for students who applied to enter as freshmen in the fall for the Class of 2018. The figures combine all early and regular admission offers.</p>

<p>We’re expanding on a list we put together last week for the Ivy League. The first portion of this list is drawn from the top 20 schools on each of two sets of the U.S. News & World Report rankings, for liberal arts colleges and national universities. The second portion is comprised of selected schools in Maryland, Washington and the District of Columbia (some of which are also in the top 20). We’ll update this file as we get more information.</p>

<p>One more caveat: All of this is preliminary. There will be many changes before and after the May 1 deadline for admitted students to decide which offer to accept.</p>

<ul>
	<li>Amherst College: 1,103 admission offers out of 8,468 applications, 13 percent.</li>
	<li>Bowdoin College: 1,032 offers out of 6,935 apps, 15 percent.</li>
	<li>Brown University: 2,619 offers out of 30,432 apps, 9 percent.</li>
	<li>California Institute of Technology: 529 offers out of 6,524 apps, 8 percent.</li>
	<li>Carleton College: 1,446 offers out of 6,293 apps, 23 percent.</li>
	<li>Claremont McKenna College: 613 offers out of 6,043 apps, 10 percent.</li>
	<li>Colgate University: 2,224 offers out of 8,713 apps, 26 percent.</li>
	<li>Columbia University: 2,291 offers out of 32,967 apps, 7 percent.</li>
	<li>Cornell University: 6,014 offers out of 43,041 apps, 14 percent.</li>
	<li>Dartmouth College: 2,220 offers out of 19,296 apps, 12 percent.</li>
	<li>Davidson College: 1,169 offers out of 5,558 apps, 21 percent.</li>
	<li>Duke University: 3,499 offers out of 32,506 apps, 11 percent.</li>
	<li>Emory University: 4,616 offers out of 17,797 apps, 26 percent.</li>
	<li>Grinnell College: 1,626 offers out of 6,056 apps, 27 percent.</li>
	<li>Hamilton College: 1,312 offers out of 5,071 apps, 26 percent.</li>
	<li>Harvard University: 2,023 offers out of 34,295 apps, 6 percent.</li>
	<li>Harvey Mudd College: 510 offers out of 3,678 apps, 14 percent. Note: Harvey Mudd’s figures are based on what it labels “actionable” applications, meaning those that are complete enough for the college to make a decision. Separately, it reports a higher figure for total apps. If that higher figure were used, its admission rate would be a percentage point lower.</li>
	<li>Haverford College: no figures available yet.</li>
	<li>Massachusetts Institute of Technology:1,419 offers out of 18,357 apps, 8 percent.</li>
	<li>Middlebury College: 1,422 offers out of 8,196 apps, 17 percent.</li>
	<li>Northwestern University: 4,349 offers out of 33,673 apps, 13 percent.</li>
	<li>Pomona College: 938 offers out of 7,727 apps, 12 percent.</li>
	<li>Princeton University: 1,939 offers out of 26,641 apps, 7 percent.</li>
	<li>Rice University: 2,498 offers out of 17,720 apps, 14 percent.</li>
	<li>Smith College: 1,802 offers out of 4,461 apps, 40 percent.</li>
	<li>Stanford University: 2,138 offers out of 42,167 apps, 5 percent.</li>
	<li>Swarthmore College: 930 offers out of 5,540 apps, 17 percent.</li>
	<li>University of California at Berkeley: no figures available until April 18.</li>
	<li>University of Chicago: 2,304 offers out of 27,503 apps, 8 percent.</li>
	<li>University of Notre Dame: 3,720 offers out of 17,897 apps, 21 percent.</li>
	<li>University of Pennsylvania: 3,583 offers out of 35,868 apps, 10 percent.</li>
	<li>U.S. Military Academy: no figures available yet.</li>
	<li>U.S. Naval Academy: no figures available yet.</li>
<ul>

<p>Citation: <a href="http://www.washingtonpost.com/local/education/college-admission-rates-for-class-of-2018-an-imperfect-but-closely-watched-metric/2014/04/03/820ff578-b6af-11e3-8cc3-d4bf596577eb_story.html">The Washington Post</a></p>
</div>

<div class="articleItem textblock" data-id="5">
<h4>Admissions Statistics</h4>

<p>The admissions process, while time-consuming and complex, is also fun and fascinating. Below, we've included some important facts and figures that will help you understand the trends in admission over the past 5-10 years.</p>

<h4>College Acceptance Rates</h4>
<p>In 2014, college acceptance rates dropped as low as 5.07% for the first time ever. Some of the most selective schools were Harvard University (5.9%) in Cambridge, MA, Stanford University (5.07%) in Palo Alto, CA, Yale University (6.26%) in New Haven, CT, and Columbia University (6.94%) in New York, NY.</p>

<ul>
	<li>School 		2014 2013 2012 2005 </li>
	<li>Amherst College 1	3% 13.67% 11.92% 18% </li>
	<li>Babson College 	TBA 28.18% 29.0% 37% </li>
	<li>Bard College 		TBA 34.75% 35.20% 38% </li>
	<li>Boston College 	33.6% 32% 28.82% 38%</li>
	<li>Brown University 	8.6% 9.2% 9.60% 16%</li>
	<li>Columbia University 	6.94% 6.89% 7.42% 12%</li>
	<li>Cooper Union 	TBA 7.27% 6.33% 13% </li>
	<li>Cornell University 	14% 15.2% 16.19% 31% </li>
	<li>Dartmouth College 	11.5% 10% 9.43% 18% </li>
	<li>Duke University 	10.7% 11.6% 11.87% 23% </li>
	<li>George Washington 	43.3% 33.4% 32.7% 39% </li>
	<li>Georgetown University 	16.6% 16.6% 16.50% 23% </li>
	<li>Harvard University 	5.9% 5.79% 5.92% 11% </li>
	<li>Massachusetts Institute of Technology 	7.7% 8.2% 8.95% 16% </li>
	<li>Middlebury College 	17.3% 19.21% 18.48% 23% </li>
	<li>New York University 	33.6% 30.3% 35.03% 32% </li>
	<li>Northwestern University 	12.9% 13.9% 15.27% 33% </li>
	<li>Pomona College 	12.14% 12.89% 12.82% 19% </li>
	<li>Princeton University 	7.28% 7.29% 7.86% 10% </li>
	<li>Stanford University 	5.07% 5.69% 6.63% 13% </li>
	<li>Swarthmore College 	16.79 14.05% 14.10% 25% </li>
	<li>University of California - Berkeley 17.3% 20.8% 21.1% 27% </li>
	<li>University of Michigan 	32% 33% 36.55% 63% </li>
	<li>University of Notre Dame 	20.79% 22.3% 22.71% 29% </li>
	<li>University of Pennsylvania 	9.9% 12.10% 12.30% 29% </li>
	<li>University of Southern California 17.8% 19.68% 18.20% 27% </li>
	<li>University of Virginia 	28.9% 29% 27.44% 39% </li>
	<li>Vanderbilt University 	12.5% 12.7% 14.1% 40% </li>
	<li>Washington University in St. Louis 17.12% 15.01% 15.40% 20% </li>
	<li>Wesleyan University 	23.2% 19.37% 19.74% 28% </li>
	<li>Williams College 	18.2% 16.88% 16.73% 21% </li>
	<li>Yale University 	6.26% 6.72% 6.82% 11% </li>
</ul>

<h4>Fun Facts for Applicants</h4>
<p>You may think you have heard or read all there is to know about the applications, numbers, and statistics, but there are many schools that deviate from the norm. At IvyWise, we keep our fingers on the pulse of education; here are some colleges and universities that are setting themselves apart from other institutions.</p>

<p>Some schools are more selective than the ones listed above. For example, the Curtis Institute of Music admitted just 2.94% of graduates for the class of 2015. That's even lower than Harvard University, which admitted 5.9% of applicants for the class of 2016. </p>

<p>Many selective colleges encourage art, music, and dance submissions as part of their undergraduate application process. In 2009, Tufts University in Medford, MA encouraged students to submit a one-minute YouTube video. Since then, schools like Chapman University and Michigan State University have followed suit.</p>

<p>For the Fall 2008 entering class, the United States Naval Academy in Annapolis, MD had the highest yield rate (percentage of students who attended compared to the number accepted) of any liberal arts college. Second place went to the United States Military Academy in West Point, NY.</p>

<p>Georgetown University in Washington, DC, is one of the few schools to require an interview for undergraduate admissions. </p>

<p>The smallest college in the country is Alaska Bible College, with 38 students. They admit 100% of their applicants. </p>

<p>Antioch College in Ohio is the only liberal arts college to require an off-campus, co-operative work program of all of its students. 
Of the class of 2013 at Hampshire College, in Amherst, MA, one in seven students founded at least one new organization during their high school careers.</p>

<p>In 2012, the University of California, Berkeley was the most selective public university in the U.S., admitting 21.13% of applicants. Previously, the title was held by University of California, Los Angeles, which in 2012 admitted 21.27%.</p>

<p>The average student uses 400 sheets of paper during the college application process. Currently, over 200 colleges and universities have gone paperless. IvyWise went paperless in the summer of 2010 (spurred by a suggestion from IvyWise interns, one of whom was a former IvyWise student).</p>

<p>In 2014, it was reported that public high school college counselors spend 23% of their time on college advising. According to NACAC, in 2010-11, the national public school student-to-counselor ratio was 473:1.
Lebanon Valley College in Pennsylvania offers the Vickroy Scholarship, which is half-off tuition, to all prospective students who graduate in the top 10% of their high school class. </p>

<p>Every year, the University of Chicago challenges applicants to create a unique admissions essay question. The best questions are featured on the following year's application. </p>

<p>High school students may not take the SATand SAT Subject Tests on the same day. If they were allowed to, students would be testing for approximately seven hours.</p>

<p>At over $61,236 per year (including cost of living), Sarah Lawrence College in Bronxville, NY is the most expensive school in the U.S. 
At the University of Pennsylvania in Philadelphia, 3,000 applicants to the class of 2014 were waitlisted. The school admitted 3,847 applicants. Even if every admitted student chose another school, Penn still had enough waitlisted students to fill its freshman class (2,501 students in 2009).</p>

<p>In 2012, MIT in Boston, MA, waitlisted 849 students compared to 455 in 2009, an 86% increase. </p>

<p>All 4-year colleges and universities in the United States accept the ACT.</p>

<p>With more than 50 colleges and universities within 50 square miles, Boston is the metropolitan area with the most accredited higher education institutions.</p>

<p>In 2013, business was the most popular undergraduate major for both men and women.</p>

<p>Though the number of women applying to college exceeds the number of men by a ratio of 60:40, the United States Air Force Academy (79% male), the California Maritime Academy (80% male), and the Berklee College of Music (71% male) all boast large male student populations.</p>
<p>Citation: <a href="http://www.ivywise.com/admission_statistics.html">ivywise</a></p>
</div>

<div class="articleItem textblock" data-id="5">
<p>Involvement in extracurricular activities allows students opportunities to develop skills in areas of their individual talents or interests. It also provides a new avenue to meet classmates with similar interests. Participation in extracurricular activities increases self-esteem, promotes responsibility, assists students with time management skills, builds socialization skills and is favorable to college entrance committees. Many students participate in several different extracurricular activities throughout the school year.</p>

<p>Extracurricular activities that focus on academic areas include the school newspaper, quiz team, science club, school government, debate team or journalism club. Each of these activities promotes academic excellence and provides students with an opportunity to expand their content knowledge outside the classroom. While building leadership skills, students will also learn the benefits of technical writing, keeping and meeting deadlines and public speaking. Students will also have opportunities to broaden their content knowledge about unfamiliar subjects by conducting research in preparation for debates or academic competitions.</p>

<p>Athletic Focused Activities</p>

<p>Extracurricular activities that focus on athletics include sports such as basketball, volleyball, baseball, track, softball, cheerleading, football and soccer. Some schools offer even more sports teams to join, and some students play a different sport each season. Being part of an athletic team allows students to learn important life skills such as cooperation, sportsmanship, respect, responsibility, leadership and dedication. Students learn the importance of working together, and many stereotypes and barriers are broken on the field. Participation in sports often results in lifelong friendships.</p>

<p>Interest Focused Activities</p>
<p>Extracurricular activities that focus on individual interests include the technology club, chess club, yearbook staff, photography club, dance club, 4-H club, drama club, band and chorus. Participation in these activities allows students to showcase their skills in areas of their interests while forming new friendships with peers who are like-minded. Some possible school activities might include performing help-desk duties for educators in the building, photographing school events, participating in plays and skits, playing a variety of musical instruments, performing in concerts and running school news programs.</p>

</div>

<div class="articleItem textblock" data-id="6">
	<p><img src="http://cdn.citylab.com/media/img/citylab/2012/04/25/bordersmain/lead_large.jpg" alt=""></p>

	<p>When we think about borders, we tend to think of administrative boundaries. Those demarcating lines, often grown out of rivers and mountain ranges or diplomatic quirks, govern our daily lives, and that’s doubly so if we live near a neighboring country or state.</p>

	<p>We know that these boundaries are on some level unnatural. Driving around Kansas City, where I live, makes this abundantly clear. Gas price differences aside, it can be difficult to tell which state you’re in, Missouri or Kansas, and the small street of State Line Road does nothing to make it clearer.</p>

	<p>But are there more organic borders, brought to life by our own actions and activities? I recently set out, along with a team from MIT and AT&T, to see if I could find an answer. Previously, members of our group had collaborated to use mobile phone call and text message records to determine how tightly connected different counties are to each other. But communication is far from the only way in which we are connected or separated. We can be connected based on where we move, how we speak, and even what sports teams we root for.</p>

	<p>Citation: <a href="http://www.citylab.com/politics/2012/04/invisible-borders-define-american-culture/1839/">citylab</a></p>
</div>

<div class="articleItem textblock" data-id="7">
	<p><img src="http://cdn.citylab.com/media/img/citylab/legacy/2012/04/24/map1.jpg" alt=""></p>
	
	<p>So our research team, consisting of DeDe Paul of AT&T, Vincent Blondel of Belgium’s Université catholique de Louvain, IBM's Dominik Dahlem*, and myself, set out to understand how a variety of cultural and social properties create borders, and whether or not these borders actually overlap. Are there in fact natural boundaries to the borders that we create as social creatures?</p>

	<p>Let’s first examine the different borders we can define. We first have communication, from cell phone data. The map above, based on aggregated phone calls between counties, makes use of an algorithm we developed that detects communities within networks. The result is a visualization of highly connected counties, grouped together by color. These clusters of connected places sometimes coincide with political boundaries, but in many other cases do not.</p>


	<p>Citation: <a href="http://www.citylab.com/politics/2012/04/invisible-borders-define-american-culture/1839/">citylab</a></p>
</div>

<div class="articleItem textblock" data-id="8">
	<p><img src="http://cdn.citylab.com/media/img/citylab/legacy/2012/04/24/map2.jpg" alt=""></p>
	
	<p>Historically, communication and mobility were closely tied together; you could only interact directly with people in person. But with the advent of the telephone and the Internet, these two parts of human behavior have become disentangled. So, does mobility affect the borders we find?</p>

	<p>Using data from IRS migration records—where people relocate to—we constructed a similar map, but this time based on mobility. In this case, we connected and grouped counties based on where people moved, rather than to whom they spoke. Instead of showing the different groupings, we have this time highlighted the borders between these regions.</p>

	<p>What we found is that, for the most part, there is a great deal of overlap between communication and mobility. This is especially clear in the South, where the border between Mississippi and Arkansas is present for all of the data. In other words, people in Mississippi (or Arkansas) primarily interact with others in their own state, and even tend to move only within the state. Despite all the technology at our disposal, in many ways we are still products of place.</p>

	<p>Citation: <a href="http://www.citylab.com/politics/2012/04/invisible-borders-define-american-culture/1839/">citylab</a></p>
</div>

<div class="articleItem textblock" data-id="9">
	<p><img src="http://cdn.citylab.com/media/img/citylab/legacy/2012/04/24/map4.jpg" alt=""></p>
	
	<p>One of the clearest regional differences in the U.S. can found by tracking the words people use to refer to soft drinks, which is in fact the map you saw at the top of this story. Pop or soda, or even Coke, these small linguistic differences are not as small as we might think. While “soda” commands the Northeast and West Coast (green) and “pop” is in between (black), “Coke” reigns in the south (turquoise). These small distinctions can often act as touchstones for larger cultural differences.</p>

	<p>Citation: <a href="http://www.citylab.com/politics/2012/04/invisible-borders-define-american-culture/1839/">citylab</a></p>
</div>

<div class="articleItem textblock" data-id="10">
	<p><img src="http://cdn.citylab.com/media/img/citylab/2012/04/25/bordersmain/lead_large.jpg" alt=""></p>
	
	<p>We can also look at how different counties voted in the last presidential election (blue is Democratic and green is Republican, with Purple as missing data).</p>

	<p>Citation: <a href="http://www.citylab.com/politics/2012/04/invisible-borders-define-american-culture/1839/">citylab</a></p>
</div>

<div class="articleItem textblock" data-id="11">
	<p><img src="http://cdn.citylab.com/media/img/citylab/legacy/2012/04/24/map6.jpg" alt=""></p>
	
	<p>And we can even do sports! Below is a map of baseball blackout regions, the parts of the country where a team’s games are considered a local market and are subject to certain broadcasting conditions.</p>

	<p>Citation: <a href="http://www.citylab.com/politics/2012/04/invisible-borders-define-american-culture/1839/">citylab</a></p>
</div>

<div class="articleItem textblock" data-id="12">
	<p><img src="http://cdn.citylab.com/media/img/citylab/legacy/2012/04/24/map6.jpg" alt=""></p>
	
	<p>While we as humans are incredibly complicated organisms, there are a few simple rules to how we behave. We sort ourselves based on cultural similarities, and these in turn are related to how we choose to move from place to place, and even with whom we communicate. A lot of these boundaries are porous and messy, allowing for a rich diversity of cultural flow. But knowing how we interact as part of a complex society, instead of only looking at political borders, can explain a lot more than we might have imagined.</p>

	<p>Citation: <a href="http://www.citylab.com/politics/2012/04/invisible-borders-define-american-culture/1839/">citylab</a></p>
</div>

<div class="articleItem textblock" data-id="13">
<h4>U.S. Higher Education Glossary</h4>

<strong>International students: Your search for the best U.S. university for you starts here.</strong>
<p>What's the difference between a college and a university? Who are undergraduate students versus graduate students? What's the FAFSA? Studying in the United States can be confusing if you don't fully understand the words used in U.S. higher education. With that in mind, U.S. News has compiled a glossary of important terms specifically for international students and parents. While this list is not exhaustive, it offers a key starting point as you explore the best U.S. universities for you.</p>

<p><strong>Academic adviser: </strong> A member of a school's faculty who provides advice and guidance to students on academic matters, such as course selections.</p>

<p><strong>Academic year: </strong> Annual period during which a student attends and receives formal instruction at a college or university, typically from August or September to May or June. The academic year may be divided into semesters, trimesters, quarters, or other calendars.</p>

<p><strong>Accredited: </strong> Official recognition that a college or university meets the standards of a regional or national association. Although international students are not required to attend an accredited college or university in the United States, employers, other schools, and governments worldwide often only recognize degrees from accredited schools.</p>

<p><strong>ACT (American College Test): </strong> A standardized college entrance exam administered by the American College Testing Program. Four separate, multiple-choice tests measure knowledge of English, math, reading, and science, and one optional writing test measures essay planning and writing skills. Most students take the ACT during their junior or senior year of high school, and most colleges and universities accept scores from either the ACT or SAT. Some schools may recommend, but not require, international students to take the ACT or SAT. (See the U.S. News college test prep guide for more information.)</p>

<p><strong>Affidavit of Support: </strong> An official document proving adequate funding from an individual or organization to cover an international student's educational and living expenses while enrolled at a U.S. college or university.</p>

<p><strong>AP (Advanced Placement program): </strong> A program offered by the College Board, a U.S.-based nonprofit educational organization, that allows students to take college-level courses while in high school. Students can then take standardized AP exams; those with qualifying scores can earn credit at certain colleges and universities.</p>

<p><strong>Assistantship: </strong> A financial aid award granted to a graduate student to help pay for tuition that is offered in return for certain services, such as serving as a teaching assistant or research assistant.
Associate's: An undergraduate degree awarded by a college or university upon successful completion of a program of study, usually requiring two years of full-time study. An associate's is typically awarded by community colleges; it may be a career or technical degree, or it may be a transfer degree, allowing students to transfer those credits to a four-year bachelor's degree-granting school.

<p><strong>Audit: </strong> To take a class to gain knowledge about a subject, but without receiving credit toward a degree.</p>

<p><strong>Bachelor's: </strong> An undergraduate degree awarded by a college or university upon successful completion of a program of study, typically requiring at least four years (or the equivalent) of full-time study. Common degree types include bachelor of arts (B.A. or A.B.), which refers to the liberal arts, and bachelor of science (B.S.). A bachelor's is required before starting graduate studies.</p>

<p><strong>Campus: </strong> The grounds and buildings where a college or university is located.</p>

<p><strong>Coed: </strong> Open to both men and women (often used to describe a school that admits both sexes and a dormitory that houses both genders).</p>

<p><strong>College: </strong> A postsecondary institution that typically provides only an undergraduate education, but in some cases, also graduate degrees. "College" is often used interchangeably with "university" and "school." Separately, "college" can refer to an academic division of a university, such as College of Business. (See U.S. News's rankings of Best Colleges.)

<p><strong>Commencement: </strong> A graduation ceremony where students officially receive their degrees, typically held in May or June at the end of the academic year, though some colleges and universities also hold August and December ceremonies.</p>

<p><strong>Common Application: </strong>A standard application form that is accepted by more than 450 member colleges and universities for admissions. Students can complete the form online or in print and submit copies to any of the participating colleges, rather than filling out individual forms for each school. However, international students will typically need to submit additional application materials unique to each college.</p>

<p><strong>Community college: </strong>A public, two-year postsecondary institution that offers the associate degree. Also known as a "junior college." Community colleges typically provide a transfer program, allowing students to transfer to a four-year school to complete their bachelor's degree, and a career program, which provides students with a vocational degree.</p>

<p><strong>Conditional admission: </strong>An acceptance to a college or university that is dependent on the student first completing coursework or meeting specific criteria before enrollment. For an international student, this can include a requirement to attain a certain level of English-language proficiency if the student's TOEFL score doesn't meet the minimum required.</p>

<p><strong>Core requirements: </strong>Mandatory courses that students are required to complete to earn a degree.</p>

<p><strong>Course: </strong>A regularly scheduled class on a particular subject. Each college or university offers degree programs that consist of a specific number of required and elective courses.</p>

<p><strong>Course load: </strong>The number of courses or credits a student takes during a specific term.</p>

<p><strong>Credits: </strong>Units that a school uses to indicate that a student has completed and passed courses that are required for a degree. Each school defines the total number and types of credits necessary for degree completion, with every course being assigned a value in terms of "credits," "credit hours," or "units."</p>

<p><strong>Culture shock: </strong>Feelings of uncertainty, confusion, or anxiety that can occur when adjusting to a new country and culture that may be very different from your own. International students may also experience "reverse culture shock" upon returning to their home country, after they have become accustomed to the new country and culture.</p>

<p><strong>Curriculum: </strong>A program of study made up of a set of courses offered by a school.</p>

<p><strong>Dean: </strong>The head of a division of a college or university.</p>

<p><strong>Deferral / Deferred admission: </strong>A school’s act of postponing a student's application for early decision or early action, so that it will be considered along with the rest of the regular applicant group. A "deferral" can also refer to a student's act of postponing enrollment for one year, if the school agrees.</p>

<p><strong>Degree: </strong>A diploma or title awarded to students by a college or university after successful completion of a program of study.</p>

<p><strong>Department: </strong>A division of a school, made up of faculty and support staff, that gives instruction in a particular field of study, such as the history department.</p>

<p><strong>Discipline: </strong>An area of academic study.</p>

<p><strong>Dissertation: </strong>An in-depth, formal writing requirement on an original topic of research that is typically submitted in the final stages before earning a doctorate (Ph.D.).</p>

<p><strong>Doctorate (Ph.D.): </strong>The highest academic degree awarded by a university upon successful completion of an advanced program of study, typically requiring at least three years of graduate study beyond the master's degree (which may have been earned at a different university). Ph.D. candidates must demonstrate their mastery of a subject through oral and written exams and original, scholarly research presented in a dissertation.</p>

<p><strong>Dormitories (dorms): </strong>Student housing provided by a college or university, also known as "residence halls," which typically includes rooms, bathrooms, common areas, and possibly a kitchen or cafeteria.</p>

<p><strong>Double major: </strong>A program of study that allows a student to complete the course requirements for two majors at the same time.</p>

<p><strong>Drop: </strong>To withdraw from a course. A college or university typically has a period of time at the beginning of a term during which students can add or drop courses.</p>

<p><strong>Dual degree: </strong>Program of study that allows a student to receive two degrees from the same college or university.</p>

<p><strong>Early action: </strong>A program offered by some colleges and universities that allows students to submit their applications early, typically in November or December, and receive decisions early, usually in mid- or late December. Students are not required to accept the admissions offer and have until May 1 to decide. Although some schools allow international students to apply via early action, applicants who request financial aid may not receive a decision any earlier than those who apply through the regular decision process.</p>

<p><strong>Early decision: </strong>A program offered by some colleges and universities that allows students to submit an application to their top-choice school early, typically in November or December, and receive the decision early, usually in mid- or late December. If accepted, students are required to enroll at that school and withdraw all applications to other schools. Although some schools allow international students to apply via early decision, applicants who apply for financial aid may not receive a decision any earlier than those who apply through the regular decision process.</p>

<p><strong>Electives: </strong>Courses that students can choose to take for credit toward a degree, but are not required.</p>

<p><strong>English as a Second Language (ESL): </strong>A course or program of study used to teach English to non-native English speakers.</p>

<p><strong>Enroll: </strong>To register or enter a school or course as a participant.</p>

<p><strong>Exempt: </strong>Not required to do something that other students may be required to do. For example, a school may require all students to take a freshman English course, but some students may be exempt based on their high scores on a college entrance exam or their previous coursework.
Extracurricular activities: </strong>Optional activities, such as sports, that students can participate in outside of academic classes.</p>

<p><strong>Faculty: </strong>A school's teaching and administrative staff who is responsible for designing programs of study.
FAFSA (Free Application for Federal Student Aid): </strong>Application used by U.S. citizens and permanent residents to apply for financial aid from U.S. federal and state governments. International students are not eligible for U.S. government aid, but schools may ask international students to submit a FAFSA to determine financial need. (Note: </strong>A social security number is required to complete the FAFSA.)</p>

<p><strong>Fees: </strong>An amount of money charged by colleges and universities, in addition to their tuition, to cover costs of services such as libraries and computer technology.</p>

<p><strong>Fellowship: </strong>An amount of money awarded by a college or university, usually to graduate students and generally based on academic achievement.
Financial aid: </strong>All types of money offered to a student to help pay tuition, fees, and other educational expenses. This can include loans, grants, scholarships, assistantships, fellowships, and work-study jobs. (See the U.S. News paying for college and paying for grad school guides for more information.)</p>

<p><strong>Fraternity: </strong>A student organization, typically for men, formed for social, academic, community service, or professional purposes. A fraternity is part of a college or university's Greek system. Some fraternities, such as those with an academic or community service focus, may be coed.</p>

<p><strong>Freshman: </strong>A student in the first year of high school or college / university.</p>

<p><strong>Full-time student: </strong>A student who is enrolled at a college or university and is taking at least the minimum number of credits required by the school for a full course load.</p>

<p><strong>GMAT (Graduate Management Admission Test): </strong>A standardized graduate business school entrance exam administered by the nonprofit Graduate Management Admission Council, which measures verbal, quantitative, and analytical writing skills. Some business schools accept either the GMAT or GRE. In June 2012, the GMAT will incorporate an integrated reasoning section designed to assess how applicants analyze different types of information at once. (See the U.S. News business school test prep guide for more information.)</p>

<p><strong>Grade: </strong>A score or mark indicating a student's academic performance on an exam, paper, or in a course. A "grade" can also refer to which year a student is in while at elementary, middle, or high school, but that usage typically does not apply at the college or university level.
Grade point average (GPA): </strong>A student's overall academic performance, which is calculated as a numerical average of grades earned in all courses. The GPA is determined after each term, typically on a 4.0 scale, and upon graduation, students receive an overall GPA for their studies.</p>

<p><strong>Graduate school: </strong>The division of a college or university, or an independent postsecondary institution, which administers graduate studies and awards master's degrees, doctorates, or graduate certificates. (See U.S. News's rankings of Best Graduate Schools.)
Graduate student / graduate studies: </strong>A student who already holds an undergraduate degree and is pursuing advanced studies at a graduate school, leading to a master's, doctorate, or graduate certificate. A "graduate" can also refer to any student who has successfully completed a program of study and earned a degree.</p>

<p><strong>Grant: </strong>A type of financial aid that consists of an amount of free money given to a student, often by the federal or a state government, a company, a school, or a charity. A grant does not have to be repaid. "Grant" is often used interchangeably with "scholarship."</p>

<p><strong>GRE (Graduate Record Examination): </strong>A standardized graduate school entrance exam administered by the nonprofit Educational Testing Service (ETS), which measures verbal, quantitative, and analytical writing skills. The exam is generally required by graduate schools, which use it to assess applicants of master's and Ph.D. programs. Some business schools accept either the GMAT or GRE; law schools generally require the LSAT; and medical schools typically require the MCAT. Effective August 2011, the GRE will incorporate key changes in the content, length, and style of the exam. (See the U.S. News GRE guide for more information.)</p>

<p><strong>Greek life / Greek system: </strong>A college or university’s collection of fraternities and sororities on campus, whose names originate from letters in the ancient Greek alphabet.</p>

<p><strong>High school: </strong>A secondary school that offers grades 9 to 12.
Humanities: </strong>Academic courses focused on human life and ideas, including history, philosophy, foreign languages, religion, art, music, and literature.</p>

<p><strong>Independent study: </strong>An academic course that allows students to earn credit for work done outside of the normal classroom setting. The reading or research assignment is usually designed by the students themselves or with the help of a faculty member, who monitors the progress.</p>

<p><strong>Institute: </strong>An organization created for a specific purpose, usually for research, that may be located on a college or university's campus.
Internal Revenue Service (IRS): </strong>The U.S. government agency that collects income taxes. International students who work on or off campus or receive taxable scholarships must pay taxes. A college or university's international student adviser can provide further information, including on relevant tax treaties between the United States and specific countries that may allow certain benefits.</p>

<p><strong>International student adviser: </strong>A school official who assists international students, scholars, and faculty with matters including orientation, visas, income taxes, insurance, and academic and government rules, among other areas.</p>

<p><strong>Internship: </strong>An experience that allows students to work in a professional environment to gain training and skills. Internships may be paid or unpaid and can be of varying lengths during or after the academic year.</p>

<p><strong>Ivy League: </strong>An association of eight private universities located in the northeastern United States, originally formed as an athletic conference. Today, the term is associated with universities that are considered highly competitive and prestigious. The Ivy League consists of the highly ranked Brown University, Columbia University, Cornell University, Dartmouth College, Harvard University, Princeton University, University of Pennsylvania, and Yale University.</p>

<p><strong>Junior: </strong>A student in the third year of high school or college / university.</p>

<p><strong>Junior college: </strong>A two-year postsecondary institution that offers the associate degree. (See "community college.")</p>

<p><strong>Letter of recommendation: </strong>A letter written by a student's teacher, counselor, coach, or mentor that assesses his or her qualifications and skills. Colleges, universities, and graduate schools generally require recommendation letters as part of the application process.</p>

<p><strong>Liberal arts: </strong>Academic studies of subjects in the humanities, social sciences, and the sciences, with a focus on general knowledge, in contrast to a professional or technical emphasis. "Liberal arts" is often used interchangeably with "liberal arts and sciences" or "arts and sciences."</p>

<p><strong>Liberal arts college: </strong>A postsecondary institution that emphasizes an undergraduate education in liberal arts. The majority of liberal arts colleges have small student bodies, do not offer graduate studies, and focus on faculty teaching rather than research. (See U.S. News's rankings of Best Liberal Arts Colleges.)</p>

<p><strong>Loan: </strong>A type of financial aid that consists of an amount of money that is given to someone for a period of time, with an agreement that it will be repaid later. International students are generally not eligible for U.S. federal government loans and will typically require an American cosigner to apply for a private bank loan.</p>

<p><strong>LSAT (Law School Admission Test): </strong>A standardized law school entrance exam administered by the nonprofit Law School Admission Council, which measures reading comprehension, analytical reasoning, and logical reasoning skills. There is also a writing section; although it is not scored, it is sent to each law school to which a student applies. (See the U.S. News LSAT test prep guide for more information.)</p>

<p><strong>Major: </strong>The academic subject area that a student chooses to focus on during his or her undergraduate studies. Students typically must officially choose their major by the end of their sophomore year, allowing them to take a number of courses in the chosen area during their junior and senior years.</p>

<p><strong>Master's: </strong>A graduate degree awarded by a college or university upon successful completion of an advanced program of study, typically requiring one or two years of full-time study beyond the bachelor's degree. Common degree types include master of arts (M.A.), which refers to the liberal arts; master of science (M.S.); and master of business administration (M.B.A.).</p>

<p><strong>Matriculate: </strong>To enroll in a program of study at a college or university, with the intention of earning a degree.</p>

<p><strong>M.B.A.: </strong>A master of business administration degree.</p>

<p><strong>MCAT (Medical College Admission Test): </strong>A standardized U.S. medical school entrance exam administered by the nonprofit Association of American Medical Colleges, which measures verbal reasoning and writing skills and physical and biological sciences knowledge. The MCAT will likely undergo significant changes in 2015, with new areas added, such as genetics, cell and molecular biology, psychology, and sociology.</p>

<p><strong>Merit aid / merit scholarships: </strong>A type of financial aid awarded by a college or university to students who have demonstrated special academic ability or talents, regardless of their financial need. Most merit aid has specific requirements if students want to continue to receive it, such as maintaining a certain GPA.</p>

<p><strong>Midterm exam: </strong>An exam given after half of the academic term has passed and that covers all material studied in a particular course until that point. Not all courses have midterm exams.</p>

<p><strong>Minor: </strong>An academic subject area that a student chooses to have a secondary focus on during their undergraduate studies. Unlike a major, a minor is typically not required, but it allows a student to take a few additional courses in a subject different from his or her major.</p>

<p>Need-based financial aid: </strong>Financial aid that is awarded to students due to their financial inability to pay the full cost of attending a specific college or university, rather than specifically because of their grades or other merit.</p>

<p><strong>Need-blind admissions: </strong>A college or university’s policy of accepting or declining applications without considering an applicant's financial circumstances. This policy does not necessarily mean that these schools will offer enough financial aid to meet a student's full need. Only a handful of U.S. colleges or universities offer need-blind admissions to international students.</p>

<p><strong>Net price calculator: </strong>An online tool that allows students and families to calculate a personalized estimate of the cost of a specific college or university, after taking into account any scholarships or need-based financial aid that an applicant would receive. By Oct. 29, 2011, each higher education institution in the United States is required by law to post a net price calculator on its respective website.</p>

<p><strong>Nonmatriculated: </strong>Enrolled in a college or university's courses, but not in a program of study leading to a degree.</p>

<p><strong>Nonresident: </strong>A student who does not meet a state's residence requirements. A college or university may have different tuition costs and admissions policies for residents versus nonresidents. In most cases, international students are considered nonresidents. A "nonresident alien" is a person who is not a U.S. citizen and is in the country on a temporary basis.</p>

<p><strong>Notarized: </strong>Certified as authentic by a public official, lawyer, or bank. Colleges and universities often require international students to submit notarized documents, such as the Affidavit of Support or high school transcripts.</p>

<p><strong>Open admissions: </strong>A college or university's policy of accepting all students who have completed high school, regardless of their grades or test scores, until all spaces are filled. Most community colleges have an open admissions policy, including for international students.</p>

<p><strong>Orientation: </strong>A college or university's official process of welcoming new, accepted students to campus and providing them with information and policies before classes begin, usually in a half-day or full-day event. Many colleges and graduate schools offer a separate orientation just for international students to cover topics such as how to follow immigration and visa regulations, set up a U.S. bank account, and handle culture shock.</p>

<p><strong>Part-time student: </strong>A student who is enrolled at a college or university but is not taking the minimum number of credits required for a full course load.</p>

<p><strong>Pass-fail: </strong>A grading system in which students receive either a "pass" or "fail" grade, rather than a specific score or letter grade. Certain college or university courses can be taken pass-fail, but these typically don't include ones taken to fulfill major or minor requirements.</p>

<p><strong>Ph.D.: </strong>A doctor of philosophy degree. (See "doctorate.")</p>

<p><strong>Plagiarism: </strong>The use of another person's words or ideas as your own, without acknowledging that person. Schools have different policies and punishments for students caught plagiarizing, which tends to occur with research papers and other written assignments.</p>

<p><strong>Postdoctorate: </strong>Academic studies or research for those who have completed a doctorate. A "postdoc" can refer both to a person who is pursuing a postdoctorate and to the postdoctorate itself.
Prerequisite: </strong>A required course that must be completed before a student is allowed to enroll in a more advanced one.</p>

<p><strong>Priority date: </strong>The date by which an application must be received in order to be given full consideration. This can apply to admissions, financial aid, and on-campus housing. After the priority date passes, applications may be considered on a case-by-case or first-come-first-served basis.</p>

<p><strong>Private school: </strong>A postsecondary institution controlled by a private individual(s) or a nongovernmental agency. A private institution is usually not supported primarily by public funds and its programs are not operated by publicly elected or appointed officials. Stanford University, for example, is a private school.</p>

<p><strong>Probation: </strong>A status or period of time in which students with very low GPAs, or whose academic work is unsatisfactory according to the school, must improve their performance. If they are unable to do so, they may be dismissed from the school. Students may also face "disciplinary probation" for nonacademic reasons, such as behavioral problems in the dorms.</p>

<p><strong>Professional school: </strong>A higher education institution for students who have already received their undergraduate degree to gain training in specific professions, such as law, medicine, and pharmacy.</p>

<p><strong>Provost: </strong>The senior academic officer of a college or university who typically oversees all academic policies and curriculum-related matters.</p>

<p><strong>PSAT: </strong>The Preliminary SAT, a standardized practice test cosponsored by the nonprofit College Board and the National Merit Scholarship Corp., which measures reading, writing, and math skills, giving students experience with the SAT. Students usually take the PSAT in their junior year of high school, and U.S. citizens and permanent residents can submit their scores to qualify for National Merit scholarships. (See the U.S. News college tes prep guide for more information.)</p>

<p><strong>Public school: </strong>A postsecondary institution that is supported mainly by public funds and whose programs are operated by publicly elected or appointed officials. The University of California—Berkeley, for example, is a public school.</p>

<p><strong>Quarters: </strong>Periods of study that divide the academic year into four equal segments of approximately 12 weeks each, typically including the summer.</p>

<p><strong>Registrar: </strong>The college or university official who is responsible for registering students and keeping their academic records, such as transcripts.</p>

<p><strong>Registration: </strong>The process in which students choose and enroll in courses to be taken during the academic year or in summer sessions.</p>

<p><strong>Regular decision: </strong>An admissions process used by colleges and universities that typically requires applicants to submit their materials by January 1; an admissions decision is generally received by April 1, and if admitted, students usually have until May 1 to respond to the offer. The majority of applicants are evaluated during regular decision, rather than early action and early decision.</p>

<p><strong>Resident assistant (RA): </strong>A student leader who works in campus dormitories and supervises issues and activities related to dorm life. RAs often receive free housing in the dorm in return for their services.</p>

<p><strong>Rolling admissions: </strong>An admissions process used by some colleges and universities in which each application is considered as soon as all the required materials have been received, rather than by a specific deadline. Colleges and universities with this policy will make decisions as applications are received until all spaces are filled.</p>

<p><strong>Room and board: </strong>Housing and meals. "Room and board" is typically one of the costs that colleges and universities will list in their annual estimated cost of attendance, in addition to tuition, fees, and textbooks and supplies. If students choose to live in dormitories, they may be required to buy into a meal plan to use on-campus dining facilities.</p>

<p><strong>SAT: </strong>A standardized college entrance exam administered by the Educational Testing Service (ETS) on behalf of the nonprofit College Board, which measures reading, writing, and math skills. Most students take the SAT during their junior or senior year of high school, and most colleges and universities accept scores from either the SAT or ACT. In addition, students may choose to take the SAT Subject Tests in English, history, languages, math, and science to demonstrate their knowledge in specific academic areas. Some schools may recommend, but not require, international students to take the SAT or ACT. (See the U.S. News college test prep guide for more information.)</p>

<p><strong>Scholarship: </strong>A type of financial aid that consists of an amount of free money given to a student by a school, individual, organization, company, charity, or federal or state government. "Scholarship" is often used interchangeably with "grant." (See the U.S. News scholarship guide for more information.)</p>

<p><strong>School: </strong>Any educational institution, including those that provide elementary, secondary, and postsecondary education. In the latter case, "school" is often used interchangeably with "college" and "university."
Semesters: </strong>Periods of study that divide the academic year into two equal segments of approximately 15 to 18 weeks each. Some schools also offer a shorter summer semester, beyond the traditional academic year.</p>

<p><strong>Seminar: </strong>A course offered to a small group of students who are typically more advanced and who meet with a professor to discuss specialized topics.</p>

<p><strong>Senior: </strong>A student in the fourth year of high school or college / university.</p>

<p><strong>SEVIS (Student and Exchange Visitor Information System): </strong>A computerized U.S. government database used to track international students and scholars in the United States. Once an international student is accepted by a U.S. college or university, the school is required to mail the student a Form I-20, which is a paper record of the student's information in SEVIS. A student must pay a SEVIS fee and use the payment receipt and I-20 to apply for a visa.</p>

<p><strong>Social Security number: </strong>A nine-digit number issued by the U.S. government to people who are authorized to work in the United States and collect certain government benefits. Many colleges and universities use the Social Security number as the student identification number.</p>

<p><strong>International students who are in the United States and are authorized to work either on or off campus must apply for and obtain a Social Security number, which is then used to report their wages to the government.</p>

<p><strong>Sophomore: </strong>A student in the second year of high school or college / university.</p>

<p><strong>Sorority: </strong>A student organization for women formed for social, academic, community service, or professional purposes. A sorority is part of a college or university's Greek system.</p>

<p><strong>Standardized tests: </strong>Exams, such as the SAT, ACT, and GRE, which measure knowledge and skills and are designed to be consistent in how they are administered and scored. Standardized tests are intended to help admissions officials compare students who come from different backgrounds. </p>

<p><strong>Teaching assistant (TA): </strong>A graduate student who assists a professor with teaching an undergraduate course, usually within his or her field, as part of an assistantship.</p>

<p><strong>Tenure: </strong>A status offered to high-level faculty members at a college or university that allows them to stay permanently in their positions, after demonstrating a strong record of teaching and published research.</p>

<p><strong>Term: </strong>Periods of study, which can include semesters, quarters, trimesters, or summer sessions.</p>

<p><strong>Thesis: </strong>A formal piece of writing on a specific subject, which may be required to earn a bachelor's or master's degree.</p>

<p><strong>TOEFL (Test of English as a Foreign Language): </strong>A standardized exam administered by the nonprofit Educational Testing Service (ETS), which measures English-language proficiency in reading, listening, speaking, and writing. Many U.S. colleges and universities require non-native English speakers to take the TOEFL and submit their scores as part of the admissions process.</p>

<p><strong>Transcript: </strong>An official record of a student's coursework and grades at a high school, college, or university. A high school transcript is usually one of the required components of the college application process.</p>

<p><strong>Transfer credit: </strong>Credit granted toward a degree on the basis of studies completed at another college or university. For instance, students who transfer from a community college to a four-year college may earn some transfer credit.</p>

<p><strong>Trimesters: </strong>Periods of study that divide the academic year into three equal segments of approximately 10 to 12 weeks each.</p>

<p><strong>Tuition: </strong>An amount of money charged by a school per term, per course, or per credit, in exchange for instruction and training. Tuition generally does not include the cost of textbooks, room and board, and other fees.</p>

<p><strong>Undergraduate student / undergraduate studies: </strong> A student enrolled in a two-year or four-year study program at a college or university after graduation from high school, leading to an associate or bachelor's degree.</p>

<p><strong>University: </strong> A postsecondary institution that typically offers both undergraduate and graduate degree programs. "University" is often used interchangeably with "college" and "school." </p>

<p><strong>Visa: </strong> An official mark or stamp in a passport that allows someone to enter a country for a particular amount of time. Common visa types for international students and scholars in the United States include the F-1 (student visa) and J-1 (exchange visitor visa). To apply for a U.S. visa, student applicants must first receive a Form I-20 from the college or university they plan to attend, which is created by the U.S. government's SEVIS database. </p>

<p><strong>Wait list: </strong> A list of qualified applicants to a school who may be offered admission if there is space available after all admitted students have made their decisions. Being on a wait list does not guarantee eventual admission, so some students may choose not to remain on the list, particularly if the school is not their first choice.</p>

<p>Withdraw: </strong>To formally stop participating in a course or attending a university.</p>

<p><strong>Work-study: </strong> A financial aid program funded by the U.S. federal government that allows undergraduate or graduate students to work part time on campus or with approved off-campus employers. To participate in work-study, students must complete the FAFSA. In general, international students are not eligible for work-study positions.</p>

<p>Citation: <a href=":http://www.usnews.com/education/best-colleges/articles/2011/08/15/us-higher-education-glossary#top">US News & World Report</a></p>
</div>