<h1>Article</h1>
<div class="inner-wrap">
	<h2 class="sub">{{{content.heading}}}</h2>
    <p class="synopsis">{{{content.synopsis}}}</p>
    <div id="article_text">
    	{{{content.text}}}
    </div>
</div>