<h1>Assignment</h1>
<div class="inner-wrap">
	<div class="another-wrapper">
		<h2 class="subHeading">{{{content.subHeading}}}</h2>
		<p class="instructions">{{{content.instuctionsHeader}}}</p>
		 
		 <ul>
		 	{{#each content.instructionList}}
		 		<li>{{{this}}}</li>
		 	{{/each}}
		 </ul>
	    <textarea placeholder=""></textarea>
    </div>
</div>