<div class="headingContainer">
	<h1 class="title">assignment</h1>
	<h1 class="subtitle">{{{content.subHeading}}}</h1>
</div>

<div class="inner-wrap">
	<div class="another-wrapper">		
		<p class="instructions">{{{content.instuctionsHeader}}}</p>
		 
		 <ul>
		 	{{#each content.instructionList}}
		 		<li>{{{this}}}</li>
		 	{{/each}}
		 </ul>
		 
	    <textarea placeholder=""></textarea>

	    <button type="submit attributeTarget eventTarget" class="submit btn btn-large btn-primary">Submit</button>
    </div>
</div>