<div class="headingContainer">
	<h1 class="title">Comic</h1>
	<h1 class="subtitle">{{{content.title}}}</h1>
</div>

<div class="inner-wrap">
	<div class="comic-wrap">
		<h2 class="subheading">{{{content.synopsis}}}</h2>
		<h2 class="instructions">{{{content.instructions}}}</h2>
		
		<a class="moreButton show-comic attributeTarget eventTarget" data-id="{{{content.id}}}" href="#">Read</a>
	</div>
</div>