<div class="headingContainer">
	<h1 class="title">Comic</h1>
	<h1 class="subtitle">{{{content.title}}}</h1>
</div>

<div class="inner-wrap">
	<div class="comic-wrap">
		{{#if content.synopsis}}
		<h2 class="subheading">Summary:</h2>
		<div class="textblock">
			<p>{{content.synopsis}}</p>
		</div>
		{{/if}}
		
		{{#if content.instructions}}
		<h2 class="subheading">instructions:</h2>
		<div class="textblock">
	        <p>{{{content.instructions}}}</p>
	    </div>
	    {{/if}}
		
		<!-- <a class="moreButton show-comic attributeTarget eventTarget"  href="#">Read</a> -->
		<a class="articlebtn show-comic btn btn-large btn-primary attributeTarget eventTarget" data-id="{{{content.id}}}">View Comic</a>
	</div>
</div>