<h1>Discussion</h1>
<div class="inner-wrap">
	<div class="another-wrapper">
		<h2>{{{content.heading}}}</h2>
		<p>{{{content.instructions}}}</p>

		<ol class="objectives">
	      {{#each content.instructionList}}
	        <li>{{{this}}}</li>
	      {{/each}}
	    </ol>
    </div>
	<script type="text/javascript" src="http://9td6qf194y.embed.talkiforum.com/embed/1.js"></script><div style="font-size:80%; text-align:center;" id="9td6qf194yt4lk1prm0">get your own <a href="http://talkiforum.com?utm_source=install&utm_medium=link&utm_campaign=get_your_own">embeddable forum</a> with Talki</div>
</div>