<h1>Discussion</h1>
<div class="inner-wrap">
	<div class="another-wrapper">
		<h2>{{{content.heading}}}</h2>
		<p>{{{content.instructions}}}</p>

		<ol class="objectives">
	      {{#each content.instructionList}}
	        <li>{{{this}}}</li>
	      {{/each}}
	    </ol>
    </div>
		
	<textarea placeholder=""></textarea>
</div>