<div class="headingContainer">
	<!-- <h1 class="title">Discussion</h1>
	<h1 class="subtitle">{{{content.heading}}}</h1> -->
	<h1 class="title"> </h1>
	<h1 class="subtitle">Discussion</h1>
</div>

<div class="inner-wrap">
	<h2 class="subheading">Instructions:</h2>
	<div class="textblock">
		<ol>
			<li>You must register with the DISCUSSION FORUM by following <a href="https://astudentjourney.forums.net ">this link.</a></li>
			
			<li>Once you register, you will receive an activation link at the email address you provided. Click on the link to activate your discussion forum account. </li>

			<li>You are now ready to enter the DISCUSSION FORUM! You enter the forum by clicking on the subject with the correct week number and title and then follow the directions for each discussion. </li>

			<li>For an "Asynchronous" discussion, you may post at any time.  For a "Synchronous" discussion, you will be given a date and time to enter the discussion forum to discuss a topic in "real time" with your peers and instructor.	</li>
		</ol>
		
		<p>The etiquette for discussion during discussion forums must be 	adhered to as directed below. Should you not follow the etiquette in the discussion forum you will not receive any points for this lesson and you may be excluded from future discussions.</p>

 		<p>Appropriate behavior would include but not be limited to the following:</p>
		<ul>
			<li>When responding to the post of a classmate be respectful to the point of view, even if you disagree</li>
			<li>No name calling or use of profanity . No directing classmates to outside links</li>
			<li>No sharing pictures</li>
			<li>No sharing identifying information such as email address or phone number in the discussion forum</li>
			<li>Should you choose to upload a photo to your profile in the forum, you must use an appropriate photo.</li>
			<li>Refrain from making jokes or using this site as a social networking site. This is an tool for an academic discussion and you should behave as though you are in a class discussion, not a social situation</li>
			<li>All responses must be in the English Language.</li>
		</ul>
	</div>
	
	<h2 class="subheading">Activity:</h2>
	<div class="textblock">
		{{#if content.instruction}}
		<p>{{{content.instruction}}}</p>
		{{/if}}

		{{#if content.instructionList}}
		<ul class="objectives">
	      {{#each content.instructionList}}
	        <li>{{{this}}}</li>
	      {{/each}}
	    </ul>
		{{/if}}
	</div>

    <a href="{{{content.forumLink}}}" class="submitbtn btn btn-large btn-primary attributeTarget eventTarget">Go To Forum</a>

</div>