<div class="headingContainer">
	<!-- <h1 class="title">Discussion</h1>
	<h1 class="subtitle">{{{content.heading}}}</h1> -->
	<h1 class="title"> </h1>
	<h1 class="subtitle">Discussion</h1>
</div>

<div class="inner-wrap">
	<h2 class="subheading">Instructions:</h2>
	<div class="textblock">
		<p>You will enter the DISCUSSION FORUM by following the link provided and write your response to two of the discussion prompts. You will respond to the posts of at least two of your classmates. The etiquette for discussion during discussion forums must be adhered to as directed below. Should you not follow the etiquette in the discussion forum you will not receive any points for this lesson and you may be excluded from future discussions.</p>
		<p>Respectful behavior would include but not be limited to the following:</p>
		<ul>
			<li>When responding to the post of a classmate be respectful to the point of view, even if you disagree.</li>
			<li>No name calling or use of profanity</li>
			<li>No directing classmates to outside links</li>
			<li>No sharing pictures</li>
			<li>No sharing identifying information such as email address or phone number in the discussion forum</li>
		</ul>
	</div>
	
	<h2 class="subheading">Activity:</h2>
	<div class="textblock">
		<p>You will enter the DISCUSSION FORUM and write your response to the following discussion prompts: </p>
		{{#if content.instruction}}
		<p>{{{content.instruction}}}</p>
		{{/if}}

		{{#if content.instructionList}}
		<ul class="objectives">
	      {{#each content.instructionList}}
	        <li>{{{this}}}</li>
	      {{/each}}
	    </ul>
		{{/if}}
	</div>

    <a href="{{{content.forumLink}}}" class="submitbtn btn btn-large btn-primary attributeTarget eventTarget">Go To Fourm</a>

</div>