<h1 class="title">Discussion</h1>
<h1 class="subtitle">{{{content.heading}}}</h1>

<div class="inner-wrap">
	<div class="another-wrapper">
		<p>{{{content.instructions}}}</p>

		<ol class="objectives">
	      {{#each content.instructionList}}
	        <li>{{{this}}}</li>
	      {{/each}}
	    </ol>

	    <textarea class="journal_text attributeTarget eventTarget" placeholder=""></textarea>
    </div>
	
</div>