<h1 class="weekHeading">Week 1 {{{name}}}:</h1>
<div class="inner-wrap">
  <h2 class="subHeading"> What are US Universities like?</h2>
  
  <p> <strong>Welcome to our course.</strong></p>
  <p>This week we will start at the basics, <strong>what are the differences between the Chinese and US educational systems.</strong> The admission's landscape is vast and competitive, esp. among elite U.S. colleges and universities. <strong>How do you find the school that "best-fits" you?</strong> </p>

  <p>Following along with these links, videos and reading materials to find out. <strong>Comment on the items underneight to interact with your fellow students.</strong></p>
  <h3>Badges Available:</h3>

  <div class="badges">
    <ul>
      <li><a href="">A</a></li>
      <li><a href="">B</a></li>
      <li><a href="">C</a></li>
    </ul>
  </div>
</div>