<h1>Game</h1>
<div class="inner-wrap">
	<h2 class="subheading"><span class="sub">Choosing a College:</span> Factors to Consider when narrowing down your college choices.</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>

	<a class="game-play" href="#">Play</a>
</div>