<h1 class="title">Game</h1>
<h1 class="subtitle">{{{content.title}}}</h1>

<div class="inner-wrap textblock">
		<h2 class="subheading">Summary:</h2>
		<div class="textblock">
			<p>{{{content.description}}}</p>
		</div>

		<h2 class="subheading">Instructions:</h2>
		<div class="textblock">
			<p>{{{content.instructions}}}</p>
		</div>
		
		<a class="show-game submitbtn btn btn-large btn-primary attributeTarget eventTarget" data-id="{{{content.id}}}" href="#">Play</a>
</div>