<h1 class="title">Game</h1>
<h1 class="subtitle">{{{content.name}}}</h1>

<div class="inner-wrap">
	<div class="another-wrapper">
		<div class="game-wrap">			
			<p>{{{content.description}}}</p>
			<a class="game-play attributeTarget eventTarget" data-id="{{{content.id}}}" href="#">Play</a>
		</div>
	</div>
</div>