<h1>Game</h1>
<div class="inner-wrap">
	<div class="another-wrapper">
		<div class="game-wrap">
			<h2 class="subheading">{{{content.name}}}</h2>
			<p>{{{content.description}}}</p>
			<a class="game-play attributeTarget eventTarget" data-id="{{{content.id}}}" href="#">Play</a>
		</div>
	</div>
</div>