<h1>Journal</h1>
<div class="inner-wrap">
	<div class="another-wrapper">

		<h2 class="subHeading">{{{content.heading}}}</h2>

		<p class="instructions">Instructions: {{{content.instructions}}}</p>
		
		<ol class="objectives">
	      {{#each content.instructionList}}
	        <li>{{{this}}}</li>
	      {{/each}}
	    </ol>
	    
		<textarea name="" id="" cols="20" rows="13"></textarea>
		<button type="submit" class="submit btn btn-large btn-primary attributeTarget eventTarget">Submit</button>
	</div>
</div>