<h1 class="title">Journal</h1>
<h1 class="subtitle">{{{content.heading}}}</h1>

<div class="inner-wrap">
	
	<div class="row">
		<div class="col-md-3 textblock">
			{{#if content.instructions}}
				<h2 class="subheading">Instructions:</h2>
				{{{content.instructions}}}
			{{/if}}

			{{#if content.instructionList}}
			<h2 class="subheading">Address the following:</h2>
			<ul class="objectives">
		  	{{#each content.instructionList}}
		    	<li>{{{this}}}</li>
		  	{{/each}}
			</ul>
			{{/if}}		
		</div>
		<div class="col-md-9">
			<textarea name="" id="" cols="20" rows="13"></textarea>
			<a type="submit" class="submitbtn btn btn-large btn-primary attributeTarget eventTarget">Submit</a>
		</div>
	</div>

</div>