<h1>Lecture With Text</h1>
<div class="inner-wrap">
	 <p class="instructions">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, fuga aspernatur molestias id laboriosam soluta earum ea alias doloremque vel quae reprehenderit debitis placeat harum delectus obcaecati doloribus illum iste.</p>
	 
	 <div class="activity-wrapper">
	</div>
</div>