<h1>Links</h1>
<div class="inner-wrap">
  <h2 class="subheading">Why and how you should develop a list of schools that fit you.</h2>
  <ol>
    <li><a href="http://admissions.duke.edu/application/overview">Who We are Looking For</a></li>
    <li><a href="http://studentaffairs.duke.edu/career-planning">International Application</a></li>
    <li><a href="http://studentaffairs.duke.edu/campuslife">Career Planning</a></li>
    <li><a href="http://admissions.duke.edu/application/checklist">Campus Life</a></li>
    <li><a href="http://studentaffairs.duke.edu/ihouse">International House</a></li>
    <li><a href="http://admissions.duke.edu/application/checklist">Campus Life</a></li>
    <li><a href="http://studentaffairs.duke.edu/">Student Affair</a></li>
    <li><a href="http://admissions.duke.edu/ ">Admissions</a></li>
  </ol>
</div>