<div class="headingContainer">
  <h1 class="title">overview</h1>
  <h1 class="subtitle">{{{content.title}}}</h1>
</div> 

<div class="inner-wrap attributeTarget">
  
  <h2 class="heading">Overview:</h2>
  {{#if content.overview}}
    <div class="textblock">
      {{{content.overview}}}
    </div>
  {{/if}}

  <h2 class="heading">You Will:</h2>
    <div class="textblock">
      <ul class="objectives">
        {{#each content.objectives}}
          <li>{{{this}}}</li>
        {{/each}}
      </ul>

    </div>
  {{#if content.attributes}}
  <h2 class="heading">Attributes Available:</h2>
  <p class="textblock">
    {{#each content.attributes}}
      {{{this}}}
    {{/each}}
  </p>
  {{/if}}
</div>