<h1>Video</h1>
<div class="inner-wrap">
	<div class="another-wrapper">
	  	<h2 class="subheading">{{{content.heading}}}</h2>
	  	<p>{{{content.synopsis}}}</p>
	  	<a class="moreButton" href="{{{content.link}}}" target="_blank">View Video</a>
	  </div>
</div>