<h1>Wrap-Up</h1>
<div class="inner-wrap">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, aliquid, esse quae quasi reprehenderit pariatur minus neque perferendis ab eos ullam quidem necessitatibus eveniet quam itaque impedit laborum harum nesciunt.</p>
    <a class="moreButton" href="#">Next Week &rarr;</a>
</div>