<div class="modal fade" id="game_modal">
  <a href="" data-dismiss="modal" class="modal_close"><span aria-hidden=
  "true">&times;</span></a>
	
	<div id="game_wrapper">
		<h1 id="game_title">{{{title}}}</h1>
	
		<canvas id="game_container"></canvas>
	</div>
</div>