<div class="modal fade" id="game_modal">
  <a href="" data-dismiss="modal" class="modal_close"><span aria-hidden=
  "true">&times;</span></a>
	
	<div id="game_wrapper">	
		<canvas id="game_container" width="960" height="565">
			Canvas not supported in this browser.
		</canvas>
	</div>
</div>