<h1 class="clearfix">Attributes</h1>
<div class="inner-wrap">
  <div class="profile-categories attributes">
      <div class="progress-wrap">
        <div class="one">
          <div class="attr-item ">
            <div class="box"  data-toggle="tooltip" data-placement="bottom" title="Process of learning something: the fact or process of finding out about something for the first time">
            <h4>Exploration</h4> 
              <div class="col-md-12">
                <span class="pie" data-value="4"><span class="attr-value">4</span></span>
              </div>
            </div>
          </div>
        </div>
        <div class="two clear">
          <div class="attr-item ">
            <div class="box" data-toggle="tooltip" class="attribute-item" title="the ability to be precise and avoid errors">
              <h4>Accuracy</h4>
              <div class="col-md-12">
                <span class="pie" data-value="1"><span class="attr-value">1</span></span>
              </div>
            </div>
          </div>
          <div class="attr-item">
            <div class="box" data-toggle="tooltip" class="attribute-item" title="careful thought, especially the process of reconsidering previous actions, events, or decisions">
              <h4>Reflection</h4>
              <div class="col-md-12">
                <span class="pie" data-value="3"><span class="attr-value">3</span></span>
              </div>
            </div>
          </div>
          <div class="attr-item ">
            <div class="box" data-toggle="tooltip" class="attribute-  item" title="the examination of something in detail in order to understand it better or draw conclusions from it">
              <h4>Analysis</h4>
              <div class="col-md-12">
                <span class="pie" data-value="2"><span class="attr-value">2</span></span>
              </div>
            </div>
          </div>

          <div class="attr-item ">
            <div class="box" data-toggle="tooltip" class="attribute-item" title="The ability to understand a concept and apply it to a real world example.">
            <h4>Application</h4>
              <div class="col-md-12">
                <span class="pie" data-value="5"><span class="attr-value">5</span></span>
              </div>
            </div>
          </div>
        </div>

        <div class="three">
          <div class="attr-item ">
            <div class="box" data-toggle="tooltip" class="attribute-item" title="general awareness or possession of information, facts, and ideas">
              <h4>Knowledge</h4>
              <div class="col-md-12">
                <span class="pie" data-value="4"><span class="attr-value">4</span></span>
              </div>
            </div>
          </div>


          <div class="attr-item ">
            <div class="box" data-toggle="tooltip" class="attribute-item" title="extremely attentive to accuracy and detail">
              <h4>Thoroughness</h4>
              <div class="col-md-12">
                <span class="pie" data-value="1"><span class="attr-value">1</span></span>
              </div>
            </div>
          </div>

          <div class="attr-item ">
            <div class="box" data-toggle="tooltip" class="attribute-item" title="the capacity for understanding information fully.">
              <h4>Comprehension</h4>
              <div class="col-md-12">
                <span class="pie" data-value="3"><span class="attr-value">3</span></span>
              </div>
            </div>
          </div>

          <div class="attr-item">
            <div class="box" data-toggle="tooltip" class="attribute-item" title="the ability to communicate effectively and appropriately with people of other cultures.">
              <h4 class="intercultural">Intercultural Competence</h4>
              <div class="col-md-12">
                <span class="pie intercultural" data-value="3"><span class="attr-value">3</span></span>
              </div>
            </div>
          </div>

          <div class="attr-item ">
            <div class="box" data-toggle="tooltip" class="attribute-item" title="the detailed mental examination of your own feelings, thoughts, and motives.">
              <h4>Introspection</h4>
              <div class="col-md-12">
                <span class="pie" data-value="3"><span class="attr-value">3</span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>