<h1 class="subtitle">Badges</h1>

<div class="inner-wrap">
  <div class="profile-categories badges">
    <ul>
      <li class="code"><a href="" class="badge" data-toggle="popover" data-placement="right" title="All Exploration" data-content="To complete this badge you must earn 90% of the Exploration attribute."></a></li>
      
      <li class="cool"><a href="" class="bbadge" data-toggle="popover" data-placement="right" title="All Accuracy" data-content="To complete this badge you must earn 90% of the Accuracy attribute."></a></li>

      <li class="foxy"><a href="" class="bbadge" data-toggle="popover" data-placement="right" title="All Thoroughness" data-content="To complete this badge you must earn 90% of the Thoroughness attribute."></a></li>

      <li class="hive clear"><a href="" class="badge" data-toggle="popover" data-placement="right" title="All Comprehension" data-content="To complete this badge you must earn 90% of the Comprehension attribute."></a></li>

      <li class="thread"><a href="" class="badge" data-toggle="popover" data-placement="right" title="All Knowledge" data-content="To complete this badge you must earn 90% of the Knowledge attribute."></a></li>

      <li class="fest"><a href="" class="badge" data-toggle="popover" data-placement="right" title="All Reflection" data-content="To complete this badge you must earn 90% of the Reflection attribute."></a></li>

      <li class="karaoke"><a href="" class="badge" data-toggle="popover" data-placement="right" title="All Analysis" data-content="To complete this badge you must earn 90% of the Analysis attribute."></a></li>

      <li class="network"><a href="" class="badge" data-toggle="popover" data-placement="right" title="All Introspection" data-content="To complete this badge you must earn 90% of the Introspection attribute. "></a></li>

      <li class="olympics"><a href="" class="badge" data-toggle="popover" data-placement="right" title="Intercultural competence" data-content="To complete this badge you must earn 90% of the Intercultural competence attribute.  "></a></li>

      <li class="thimble"><a href="" class="badge" data-toggle="popover" data-placement="right" title="All Application" data-content="To complete this badge you must earn 90% of the Application attribute.  "></a></li>

      <li class="karaoke"><a href="" class="badge" data-toggle="popover" data-placement="right" title="Quizz Completion" data-content="To complete this badge you must earn 80% on all quizzes."></a></li>

      <li class="network"><a href="" class="badge" data-toggle="popover" data-placement="right" title="Frame Completion" data-content="See every frame in a single semester."></a></li>

      <li class="olympics"><a href="" class="badge" data-toggle="popover" data-placement="right" title="Attribute Complestion" data-content="To complete this badge you must earn 90% on all attributes."></a></li>

      <li class="thimble"><a href="" class="badge" data-toggle="popover" data-placement="right" title="Discussion Complestion" data-content="To complete this badge you must participate in 80% of discussions."></a>
      </li>
    </ul>
  </div>
</div>