<h1 class="clearfix">Badges</h1>
<div class="inner-wrap">
  <div class="profile-categories badges">
    <ul>
      <li class="code"><a href="" class="badge" data-toggle="tooltip" data-placement="bottom" title="Lorem Ipsum Dolor Sit Amet."></a><a href="" class="shadow"></a></li>
      <li class="cool"><a href="" class="badge" data-toggle="tooltip" data-placement="bottom" title="Lorem Ipsum Dolor Sit Amet."></a><a href="" class="shadow"></a></li>
      <li class="foxy"><a href="" class="badge" data-toggle="tooltip" data-placement="bottom" title="Lorem Ipsum Dolor Sit Amet."></a><a href="" class="shadow"></a></li>
      <li class="hive clear"><a href="" class="badge" data-toggle="tooltip" data-placement="bottom" title="Lorem Ipsum Dolor Sit Amet."></a><a href="" class="shadow"></a></li>
      <li class="thread"><a href="" class="badge" data-toggle="tooltip" data-placement="bottom" title="Lorem Ipsum Dolor Sit Amet."></a><a href="" class="shadow"></a></li>
      <li class="fest"><a href="" class="badge" data-toggle="tooltip" data-placement="bottom" title="Lorem Ipsum Dolor Sit Amet."></a><a href="" class="shadow"></a></li>
      <li class="karaoke"><a href="" class="badge" data-toggle="tooltip" data-placement="bottom" title="Lorem Ipsum Dolor Sit Amet."></a><a href="" class="shadow"></a></li>
      <li class="network"><a href="" class="badge" data-toggle="tooltip" data-placement="bottom" title="Lorem Ipsum Dolor Sit Amet."></a><a href="" class="shadow"></a></li>
      <li class="olympics"><a href="" class="badge" data-toggle="tooltip" data-placement="bottom" title="Lorem Ipsum Dolor Sit Amet."></a><a href="" class="shadow"></a></li>
      <li class="thimble"><a href="" class="badge" data-toggle="tooltip" data-placement="bottom" title="Lorem Ipsum Dolor Sit Amet."></a><a href="" class="shadow"></a></li>
    </ul>
  </div>
</div>