<div class="inner-wrap">
  <div class="week_title_box">
      <p>Grades</p>

      <div class="week_object">
        <a href="#" class="arrow" data-direction="left"><i class="fa fa-caret-left"></i></a>
          Week <span class="week_number">1</span>
        <a href="#" class="arrow" data-direction="right"><i class="fa fa-caret-right"></i></a>
      </div>
      
  </div>

  <div class="col-md-4 assignment_section dashboard_long_box">
    <p class="heading">Assignments</p>
    
    <ul>

      <li>
        <div class="assign_container">
          <div class="col-md-8">
            <span class="assign_name">Assignment 1</span><br/>
            <span class="assign_desc">Description of Assignment</span><br/>
           <span class="assign_score">50/100</span>
          </div>

          <div class="col-md-4">
            <span class="assign_link"><a href="#">See Feedback</a></span>
          </div>
          
        </div>
      </li>

      <li>
        <div class="assign_container">
          <div class="col-md-8">
            <span class="assign_name">Assignment 1</span><br/>
            <span class="assign_desc">Description of Assignment</span><br/>
           <span class="assign_score">50/100</span>
          </div>

          <div class="col-md-4">
            <span class="assign_link"><a href="#">See Feedback</a></span>
          </div>
          
        </div>
      </li>
    </ul>
  </div>

  <div class="col-md-4 quiz_section dashboard_box">
    <p class="heading">Quizes</p>
    <ul>
      <li><span class="content_name">Quiz 1:</span> <span class="content_amount">40/50</span></li>

      <li><span class="content_name">Quiz 2:</span> <span class="content_amount">45/50</span></li>

      <li><span class="content_name">Quiz 3:</span> <span class="content_amount">48/5</span></li>

    </ul>
  </div>
</div>