<h1 class="clearfix">Grades</h1>
<div class="inner-wrap">
  <div class="content-week-nav">
    <a class="arrow-left-grade"><span class="icomoon icon-arrow-left"></span></a>
    <a class="arrow-right-grade"><span class="icomoon icon-arrow-right"></span></a>
  </div>

  <div class="weekly-content">              
    <div class="col-md-12">
      <div class="assignment-container active">
        <h2 class="active">Week 1</h2>
        <div class="grade-container col-md-6 box" data-number="1">
          <h3 class="assignment-title">Assignment 1: U.S. vs. China</h3>
          <p class="assignment-description">Write a one page essay about the differences between U.S. and Chinese School Systems.</p>
          <p class="uplo4aded-assignment"><strong>Your submission: </strong><a href=""> US-vs-China.doc</a></p>
          <p class="grade-display"><span class="grade-label">grade:</span> <span class="student-grade">20/20</span></p>
          <a href="#" class="assignment_link block" data-assignId="0" data-assignType="assignment">view assignment</a>
        </div>
        <div class="grade-container quiz col-md-6 box" data-number="2">
          <h3 class="Quiz-title">Quiz 1</h3>
          <p class="grade-display"><span class="grade-label">grade:</span> <span class="student-grade">20/20</span></p>
          <a href="#" data-assignId="0" data-assignType="quiz">review quiz</a>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>