<div class="inner-wrap">
  <div class="week_title_box">
      <p>Grades</p>

      <div class="week_object">
        <a href="#" class="arrow" data-direction="left"><i class="fa fa-caret-left"></i></a>
          Week <span class="week_number">1</span>
        <a href="#" class="arrow" data-direction="right"><i class="fa fa-caret-right"></i></a>
      </div>
      
  </div>

  <div class="col-md-4 assignment_section dashboard_long_box">
    <div id="assignments"></div>
  </div>

  <div class="col-md-4 quiz_section dashboard_box">
    <div id="quizes"></div>
  </div>
</div>