<h1 class="clearfix">Welcome</h1> 
<div class="inner-wrap">
  <div class="another-wrapper">
    <div class="profile-welcome">
      
      <p class="intro">Every week, you'll be given a mixture of articles, multimedia, and interactive games which will help guide you through understanding college life in America.  Throughout, you will develop attributes and achieve badges which will factor into your total grade.  In addition, you'll be given grades on assignments, class participation, and your achievements.</p>
    </div>

    <div class="content col-md-3 box">
      <h3>Content-types</h3>
        <ul id="section_nav" class="hidden-phone">
          <li>
            <a class="weekItemLink assignment" data-weekitem="0" data-type="overview" href="#weekItem0">
              <span class="item-icon icomoon icon-file activity"></span><span class="hoverover">assignment</span>
            </a>
          </li>
          <li>
            <a class="weekItemLink article" data-weekitem="1" data-type="article" href="#weekItem1">
              <span class="item-icon icomoon icon-book2 article"></span><span class="hoverover">article</span>
            </a>
          </li>
          <li>
            <a class="weekItemLink game" href="#weekItem2">
              <span class="item-icon icomoon icon-gamepad game"></span><span class="hoverover">game</span>
            </a>
          </li>
          <li></li>
      </ul>
      <a class="welcome-link clear">view all content types</a>
    </div>

    <div class="attributes col-md-3 col-md-offset-1 box">
      <h3>Attributes</h3>
      <ul>
        <li><span class="pie col-md-4" data-value="4"><span class="attr-value">4</span></span>Self-Awareness</li>
        <li><span class="pie col-md-4" data-value="1"><span class="attr-value">1</span></span>Adaptation</li>
        <li><span class="pie" data-value="3"><span class="attr-value">3</span></span>Attention to Detail</li>
        
      </ul>
      <a class="welcome-link clear">view all available attributes</a>
    </div>

    <div class="badges col-md-3 col-md-offset-1 box">
      <h3>Badges</h3>
      <ul>
        <li class="code"><a href="" class="badge" data-toggle="tooltip" data-placement="bottom" title="Lorem Ipsum Dolor Sit Amet."></a><a href="" class="shadow"></a></li>
        <li class="cool"><a href="" class="badge" data-toggle="tooltip" data-placement="bottom" title="Lorem Ipsum Dolor Sit Amet."></a><a href="" class="shadow"></a></li>
        <li class="foxy"><a href="" class="badge" data-toggle="tooltip" data-placement="bottom" title="Lorem Ipsum Dolor Sit Amet."></a><a href="" class="shadow"></a></li>
        <li class="hive clear"><a href="" class="badge" data-toggle="tooltip" data-placement="bottom" title="Lorem Ipsum Dolor Sit Amet."></a><a href="" class="shadow"></a></li>
        <li class="thread"><a href="" class="badge" data-toggle="tooltip" data-placement="bottom" title="Lorem Ipsum Dolor Sit Amet."></a><a href="" class="shadow"></a></li>
        <li class="fest"><a href="" class="badge" data-toggle="tooltip" data-placement="bottom" title="Lorem Ipsum Dolor Sit Amet."></a><a href="" class="shadow"></a></li>
        <li class="karaoke"><a href="" class="badge" data-toggle="tooltip" data-placement="bottom" title="Lorem Ipsum Dolor Sit Amet."></a><a href="" class="shadow"></a></li>
        <li class="network"><a href="" class="badge" data-toggle="tooltip" data-placement="bottom" title="Lorem Ipsum Dolor Sit Amet."></a><a href="" class="shadow"></a></li>
        <li class="olympics"><a href="" class="badge" data-toggle="tooltip" data-placement="bottom" title="Lorem Ipsum Dolor Sit Amet."></a><a href="" class="shadow"></a></li>
        <li class="thimble"><a href="" class="badge" data-toggle="tooltip" data-placement="bottom" title="Lorem Ipsum Dolor Sit Amet."></a><a href="" class="shadow"></a></li>
      </ul>
      <p class="clear welcome-link"><a>view all available badges</a></p>
    </div>
    
    <div class="set-up-profile clear">
      <p>Next: <a>Set-up your Profile</a></p>
    </div>

    <div class="full-width center profile-link">
      <a href="#" id="dock_button"><span class="clear glyphicon glyphicon-arrow-down"></span></a>
    </div>
  </div>
</div>