<h1 class="subtitle">Journals</h1>

<div class="inner-wrap">
  <div class="week_title_box">
    <p></p>

    <div class="week_object">
      <a href="#" class="arrow" data-direction="left"><i class="fa fa-caret-left"></i></a>
        Week <span class="week_number"></span>
      <a href="#" class="arrow" data-direction="right"><i class="fa fa-caret-right"></i></a>
    </div>
    
  </div>

  <div class="journal_container">
    {{#hasJournals}}

      <div class="journal_object">
        <a href="#" class="arrow" data-direction="left"><i class="fa fa-caret-left"></i></a>
        Journal <span class="journal_number">1</span> / <span class="max_journal_number">1</span>
        <a href="#" class="arrow" data-direction="right"><i class="fa fa-caret-right"></i></a>
      </div>
    
      <p class="heading"></p>
    
      <div class="text"></div>
    {{else}}
      <p class="heading">You do not have any journals currently saved.</p>
    {{/hasJournals}}
  </div>
</div>