<h1 class="clearfix">Journals</h1>
<div class="inner-wrap">
  <div class="another-wrapper">
    <div class="content-week-nav">
      <a class="arrow-left-grade"><span class="icomoon icon-arrow-left"></span></a>
      <a class="arrow-right-grade"><span class="icomoon icon-arrow-right"></span></a>
    </div>
    <h2>Week 1</h2>
    <div class="journal-entry paper" data-entry-number="1">
      <time>01.23.2014</time>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum amet esse blanditiis illum debitis rem in libero laudantium, delectus alias autem deserunt possimus animi voluptate, exercitationem! Cumque in reiciendis illo!  sLorem ipsum dolor sit amet, consectetur adipisicing elit. Ex tenetur doloribus minima rem ab id dolorum neque expedita nostrum dignissimos fugiat fuga quia repellat perferendis dicta, dolores corporis laborum aspernatur.</p>
    </div>

    <div class="journal-entry paper" data-entry-number="2">
      <time>02.21.2014</time>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum amet esse blanditiis illum debitis rem in libero laudantium, delectus alias autem deserunt possimus animi voluptate, exercitationem! Cumque in reiciendis illo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa consequuntur officia officiis nam nihil numquam eos fugit ab vitae inventore? Illum consequuntur obcaecati explicabo tenetur laudantium, praesentium, et magnam aut.</p>
    </div>

    <div class="journal-entry paper" data-entry-number="3">
      <time>03.03.2014</time>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum amet esse blanditiis illum debitis rem in libero laudantium, delectus alias autem deserunt possimus animi voluptate, exercitationem! Cumque in reiciendis illo!  sLorem ipsum dolor sit amet, consectetur adipisicing elit. Ex tenetur doloribus minima rem ab id dolorum neque expedita nostrum dignissimos fugiat fuga quia repellat perferendis dicta, dolores corporis laborum aspernatur.</p>
    </div>
    <div class="reload-container"><button class="btn btn-primary reload"><span class="icon-refresh"></span>Reload Journals</button></div>
  </div>
</div>