<div class="inner-wrap">
  <div class="week_title_box">
    <p>Journals</p>

    <div class="week_object">
      <a href="#" class="arrow" data-direction="left"><i class="fa fa-caret-left"></i></a>
        Week <span class="week_number">1</span>
      <a href="#" class="arrow" data-direction="right"><i class="fa fa-caret-right"></i></a>
    </div>
    
  </div>

  <div class="journal_container">
    {{#hasJournals}}

      <div class="journal_object">
        <a href="#" class="arrow" data-direction="left"><i class="fa fa-caret-left"></i></a>
        Journal <span class="week_number">1</span> / 1
        <a href="#" class="arrow" data-direction="right"><i class="fa fa-caret-right"></i></a>
      </div>
    
      <p class="heading"></p>
    
      <div class="journal"></div>
    {{else}}
      <p class="heading">You do not have any journals currently saved.</p>
    {{/hasJournals}}
  </div>
</div>