<h1 class="clearfix">Progress</h1>
<div class="inner-wrap">
  <div class="profile-categories badges">
    <div class="content-week-nav">
      <a class="arrow-left-grade"><span class="icomoon icon-arrow-left"></span></a>
      <a class="arrow-right-grade"><span class="icomoon icon-arrow-right"></span></a>
    </div>
    <div class="week-progress">
      <h2>Week 1</h2>
      <div class="completed circle box">
        <p class="big">9/10</p>
        <p>items complete</p>
      </div>
      <a href="" class="moreButton box">go to week 1</a>
    </div>
    <div class="week-progress">
      <h2>Week 2</h2>
      <div class="completed circle box active">
        <p class="big">2/10</p>
        <p>items complete</p>
      </div>
      <a href="" class="moreButton box">go to week 2</a>
    </div>
    <div class="week-progress">
      <h2>Week 3</h2>
      <div class="completed circle box">
        <p class="big">0/10</p>
        <p>items complete</p>
      </div>
      <a href="" class="moreButton box">go to week 3</a>
    </div>

  </div>
</div>