<div class="content">
    
	<div class="container-fluid">

		<div class="login-logo">
	        <a href="" class="logo replace">Duke University Summer Session</a>
	        <p class="tagline">A Student's Journey</p>


    	    <div id="login_alert">Not a correct username/password combination.</div>
      	</div>

	    <div class="username">
	        <input type="text" id="username_input" placeholder="username" aria-label="user name" aria-required="true" required autofocus>
	    </div>
	    <div class="password">
	        <input type="password" id="password_input" placeholder="password" aria-label="password" aria-required="true" required>
	    </div>
	
		<div id="login_group">
	    	<button type="submit" class="btn btn-primary btn-login" id="user_login"type="submit">Log In</button><br/> 
	    	<!-- <button class ="btn btn-primary btn-login" id="guest_login" type="submit">Log In As Guest</button>-->
	    	<a id="passReset">Reset Password</a>
		</div>
		
	</div>
</div>