<div class="container-fluid">
  <h4>Manage Classes</h4>

  <hr/>
  <h4>Class A Class</h4>
  <div class="admin-top">
    <input type="text" placeholder="Class Name">
    
    <select class="combobox">
      <option>Select Class Template</option>
      <option value="0">A Student's Journey: Semester 1</option>
      <option value="1">A Student's Journey: Semester 2</option>
    </select>

    <select class="combobox">
      <option>Select A Instructor</option>
      <option value="0">teacher, one</option>
      <option value="1">teacher, two</option>
      <option value="2">teacher, three</option>
    </select>

    <button type="submit" name="add">Create</button>
  </div>
  
  <hr/>
  <h4>Edit Classes</h4>
  <select class="combobox">
    <option>Select A Class</option>
    <option value="0">A Student's Journey: Semester 1</option>
    <option value="1">A Student's Journey: Semester 2</option>
  </select>
  <h5>Class Created:       <span>March 3rd 2015</span><h5>
  <h5>Class Last Viewed:   <span>March 3rd 2015</span><h5>
  <h5>Total Instructors:   <span>1</span><h5>
  <h5>Total Students:      <span>5</span><h5>
  <h5>Current Module:      <span>5</span><h5>

  <button type="submit" name="add">Delete Class</button>

  <hr/>
  <div class="row">
    <div class="col-md-6">
      <h4>Edit Teachers</h4>
      <table id="admin-students" class="table table-responsive table-bordered table-striped">
        <tbody>
          <tr>
            <th>Name</th><th>Actions</th>
          </tr>
          <tr>
            <td>Teacher 1</td>
            <td><button>Add to Class</button><button>Remove from Class</button></td>
          </tr>
          <tr>
            <td>Teacher 2</td>
            <td><button>Add to Class</button><button>Remove from Class</button></td>
          </tr>
          <tr>
            <td>Teacher 3</td>
            <td><button>Add to Class</button><button>Remove from Class</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <h4>Edit Students</h4>
      <table id="admin-students" class="table table-responsive table-bordered table-striped">
        <tbody>
          <tr>
            <th>Name</th><th>Actions</th>
          </tr>
          <tr>
            <td>Student 1</td>
            <td><button>Add to Class</button><button>Remove from Class</button></td>
          </tr>
          <tr>
            <td>Student 2</td>
            <td><button>Add to Class</button><button>Remove from Class</button></td>
          </tr>
          <tr>
            <td>Student 3</td>
            <td><button>Add to Class</button><button>Remove from Class</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>