<div id="header"></div>
<div class="container-fluid">
	<nav id="admin-nav">
		<a data-link="classes" class="nav-link manage-classes">Manage Classes</a>
		<a data-link="teachers" class="nav-link manage-instructors">Manage Teachers</a>
	    <a data-link="students" class="nav-link manage-students">Manage Students</a>
	    <a data-link="guests" class="nav-link manage-guests">Manage Guests</a>
	</nav>

	<div id="content">
	</div>

</div>