#comic_modal {
	background: rgba(0, 0, 0, 0.7);
}

.modal_close {
	color:white;
	font-size: 50px;
	padding: 20px;
	margin:0;
}

#comic_panels {
	overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    z-index: 90;
}

#comic_panels {
	height: 100%;
	min-height: 460px;
}

#navigation {
	position:relative;
	color:red;
	top: -10px;
	z-index: 100;
	text-align:center;
	
}

.circle {
	border-radius: 50%;
}

.comic_panel, .thumbnail_panel {
	display: inline-block;
    height: 100px;
    margin: 5px;
}

#comicBook {
}

#thumbnail {
}



#comic_title {
	color:white;
	font-size:25pt;
	color:rgb(204, 28, 28);
}

#response_panel {
	display: block;
	position: relative;
	width: 100%;
	text-align: left;
	left: 0;
	
	color: @black;
	
	
	.question_test {
		color:white;
	}

	#question_panel {
		font-size:16pt;
		position:relative;
		top:12px;

		button {
			font-size: 12pt;
		}
	}
}

.comic_img {
	height:410px;
}

.comic_panel {
	height: 100%;
	width: 100%;
	text-align: center;
	img {
		height: 70% !important;
	}
}

.comic-sliders {
	color:none;
	opacity:0.3;
}

.modal_close {
	line-height: 30px;
	padding-top:30px;
}

