#game_modal {
	background: rgba(0, 0, 0, 0.7);
	color:white;
}

#game_wrapper {
	width:100%;
	text-align: center;
}

.modal_close {
	color:white;
	font-size: 50px;
	padding: 20px;
	margin:0;

	line-height: 30px;
	padding-top:30px;
}

#game_container {
	width:600px;
	height:500px;
	background-color: white;
}