.navbar {
  background: #fff;
  .rem( height,3 );
  margin: 0;
  .container-fluid {
    height: 60px;
    margin: 0 auto;
  }

  .tagline {
    color: @dukeblue;
    float:left;
    font-family: arial;
    .rem( font-size, 2 );
    line-height: 1.10;
    padding: 8px 15px;
    width: 120px;
  }
}