.navbar {
  background: #fff;
  
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.15);

  .rem( height,3 );
  margin: 0;
  .container-fluid {
    height: 60px;
    margin: 0 auto;
  }

  .tagline {
    color: @dukeblue;
    float:left;
    font-family: arial;
    .rem( font-size, 2 );
    line-height: 1.10;
    padding: 8px 15px;
    width: 120px;
  }
}