<div class="modal fade" id="comic_modal">
  <a href="" data-dismiss="modal" class="modal_close"><span aria-hidden=
  "true">&times;</span></a>
	
	<h1 id="comic_title">{{{title}}}</h1>

	<div class="container" style="height:100%">
		<div class="row">
			<div class="col-md-12">
			<div class="row">
				<div class="col-md-12" id="comicBook"></div>

				<div id="response_panel"></div>
			</div>

			<div class="row">
				<div id="navigation">
					<a href="#" class="comic-sliders inactive" id="slide-left" data-direction="left"><span class="glyphicon glyphicon-chevron-left"></span></a>

					<a href="#" class="comic-refresh"><span class="icomoon icon-refresh"></span></a>

					<a href="#" class="comic-sliders inactive" id="slide-right" data-direction="right"><span class="glyphicon glyphicon-chevron-right"></span></a>
				</div>
			</div>
		</div>
	</div>
</div>