<div class="question_test">This is where the question goes?</div>
<a class="articlebtn btn btn-large btn-primary">Answer 1</a>
<a class="articlebtn btn btn-large btn-primary">Answer 2</a>
<a class="articlebtn btn btn-large btn-primary">Answer 3</a>